<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Application Error</title>
</head>
<body>
<h1>Um erro inesperado ocorreu.</h1><br/>
{{ ex.getMessage() }}
</body>
</html>