{% extends "documentacao/v2/template.html" %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-navbar">
                <nav class="navbar navbar-default no-radius">
                    <div class="container-fluid">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                <span class="sr-only">Navegação</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="#">MANUAL WEB SERVICE INTEGRAÇÃO DE PARCEIROS</a>
                        </div>

                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse pull-right" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">
                                <li><a href="/manual">v1</a></li>
                                <li class="active"><a href="/manual/v2">v2 <span class="sr-only">(current)</span></a>
                                </li>
                            </ul>
                        </div><!-- /.navbar-collapse -->
                    </div><!-- /.container-fluid -->
                </nav>
            </div>
            <div class="panel" id="introducao">
                <h2>Introdução</h2>
                <hr>
                <p>O sistema de integração Maquina de Vendas tem com o objetivo disponibilizar interfaces de consulta e
                    inserção de informações aos sites da holding.</p>

                <p><strong>Sites disponíveis para integração:</strong></p>
                <table class="table table-bordered table-striped table-condensed">
                    <thead>
                    <tr>
                        <th>Site</th>
                        <th>Endereço</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Ricardo Eletro</td>
                        <td><a href="http://www.ricardoeletro.com.br">http://www.ricardoeletro.com.br</a></td>
                    </tr>
                    <tr>
                        <td>Insinuante</td>
                        <td><a href="http://www.insinuante.com.br">http://www.insinuante.com.br</a></td>
                    </tr>
                    <tr>
                        <td>City Lar</td>
                        <td><a href="http://www.citylar.com.br">http://www.citylar.com.br</a></td>
                    </tr>
                    <tr>
                        <td>Salfer</td>
                        <td><a href="http://www.salfer.com.br">http://www.salfer.com.br</a></td>
                    </tr>
                    <tr>
                        <td>Eletro Shopping</td>
                        <td><a href="http://www.eletroshopping.com.br">http://www.eletroshopping.com.br</a></td>
                    </tr>
                    <tr>
                        <td>Cipela Calçados</td>
                        <td><a href="http://www.cipela.com.br">http://www.cipela.com.br</a></td>
                    </tr>
                    <tr>
                        <td>E-Colchão</td>
                        <td><a href="http://www.ecolchao.com.br">http://www.ecolchao.com.br</a></td>
                    </tr>
                    <tr>
                        <td>Tricolor Eletro</td>
                        <td><a href="http://www.tricoloreletro.com.br">http://www.tricoloreletro.com.br</a></td>
                    </tr>
                    <tr>
                        <td>Grêmio Eletro</td>
                        <td><a href="http://www.gremioeletro.com.br">http://www.gremioeletro.com.br</a></td>
                    </tr>
                    <tr>
                        <td>Loja Física RE</td>
                        <td><a href="http://www.lfricardoeletro.com.br">http://www.lfricardoeletro.com.br</a></td>
                    </tr>
                    <tr>
                        <td>Loja Física CL</td>
                        <td><a href="http://www.lfcitylar.com.br">http://www.lfcitylar.com.br</a></td>
                    </tr>
                    </tbody>
                </table>
                <hr>
                <p>Para que o parceiro tenha acesso ao sistema de integração, é necessária a informação dos seguintes
                    dados
                    para cadastro no sistema:</p>
                <hr>
                <table class="table table-bordered table-striped table-condensed">
                    <thead>
                    <tr>
                        <th>Parâmetro</th>
                        <th>Descrição</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Nome do parceiro</td>
                        <td>Nome da empresa responsável pelo site que irá utilizar o webservice</td>
                    </tr>
                    <tr>
                        <td>Nome do site</td>
                        <td>Site que irá utilizar o webservice</td>
                    </tr>
                    <tr>
                        <td>IP do Site</td>
                        <td>IP(s) de saída do(s) servidor(es) do site</td>
                    </tr>
                    <tr>
                        <td>Site de origem</td>
                        <td>Site do qual será consultado os produtos. Ex.: Ricardo Eletro, Insinuante, etc.</td>
                    </tr>
                    <tr>
                        <td>Filtros de produtos</td>
                        <td>Lista de Categorias e/ou Fabricante dos produtos que o Site de origem terá acesso.</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="panel cat" id="servicos">
                <h2>Serviços</h2>
                <p>Os serviços da Máquina de Vendas estão em padrão restful, portanto separamos,
                    por tipo de serviço, os métodos disponíveis em nossa API.</p>

            </div>

            <div class="panel subcat">
                <h3 id="rest">Rest</h3>
                <p>Segundo a <a href="https://pt.wikipedia.org/wiki/REST">Wikipedia</a>, a Representational State
                    Transfer
                    (REST), em português Transferência de Estado Representacional, é uma
                    abstração da arquitetura da World Wide Web (Web), um estilo arquitetural que consiste de um conjunto
                    coordenado de restrições arquiteturais aplicadas a componentes, conectores e elementos de dados
                    dentro
                    de um sistema de hipermídia distribuído. O REST ignora os detalhes da implementação de componente e
                    a
                    sintaxe de protocolo com o objetivo de focar nos papéis dos componentes, nas restrições sobre sua
                    interação com outros componentes e na sua interpretação de elementos de dados significantes.
                </p>
            </div>


            {% include "documentacao/v2/services/consulta_vendedor.html" %}

            {% include "documentacao/v2/services/consulta_frete.html" %}

            {% include "documentacao/v2/services/consulta_estoque.html" %}

            {% include "documentacao/v2/services/consulta_dados.html" %}

            {% include "documentacao/v2/services/servico_confirmacao_dados.html" %}

            {% include "documentacao/v2/services/consulta_produto.html" %}

            {% include "documentacao/v2/services/set_pedido.html" %}

            {% include "documentacao/v2/services/set_pagamento.html" %}

            {% include "documentacao/v2/services/consulta_pedido.html" %}

            {% include "documentacao/v2/services/consulta_tracking.html" %}

            {% include "documentacao/v2/services/consulta_bandeira.html" %}

            {% include "documentacao/v2/services/consulta_parcelamento.html" %}
            
            {% include "documentacao/v2/services/consulta_campanha.html" %}

            <div class="panel subcat">
                <h3 id="callbacks">Callbacks</h3>
                <p>O serviço de callback são métodos enviados aos parceiros para notificar sobre alterações
                ocorridas em alguma entidade ou algum evento específico. Por exemplo, notificações quando houverem
                alterações de preço e/ou quantidade de item no estoque, permitindo assim, a atualização, quase em tempo real,
                das informações da integração aos parceiros.
                </p>
                <p>
                    Todos os callbacks são enviadas para URL's fornecidas pelo parceiro, portanto, caso queira ativar
                    os callbacks (notificações ativas), favor entrar em contato com a Máquina de Vendas e solicitar a
                    ativação.
                </p>
                <p>
                    Como padrão, todas as notificações serão enviadas via protocolo HTTP POST. O payload do POST
                    conterá uma mensagem formatada em JSON. O cabeçalho também irá como "content-type: application/json".
                </p>
            </div>

            {% include "documentacao/v2/services/callback_notificacao_alteracao_estoque_preco.html" %}

            {% include "documentacao/v2/services/service_objetos.html" %}

            {% include "documentacao/v2/services/service_tabelas.html" %}


        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="/assets/js/manual/main.js"></script>
{% endblock %}