<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Máquina de Vendas - Documentação</title>

    <link rel="shortcut icon" href="/assets/img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/assets/img/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <link rel="stylesheet" href="/assets/css/sidemenu.css"/>
    <link rel="stylesheet" href="/assets/css/main.css"/>

    <link rel="stylesheet" href="/assets/css/lib/jquery.highlight.css">
</head>
<body>
<div id="wrapper">
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <img src="/assets/img/mv-logo.png" class="logo"/>
        <ul class="sidebar-nav">
            <li><a href="#introducao" class="active">Introdução</a></li>
            <li>
                <a href="#servicos">Serviços</a>
                <ul>
                    <li>
                        <a href="#rest">REST</a>
                        <ul>
                            <li><a href="#servico-consulta-vendedor">Consulta Vendedor</a></li>
                            <li><a href="#servico-consulta-frete">Consulta Frete</a></li>
                            <li><a href="#servico-consulta-estoque">Consulta Estoque</a></li>
                            <li><a href="#servico-consulta-dados">Consulta Dados</a></li>
                            <li><a href="#servico-confirmacao-dados">Confirmação Dados</a></li>
                            <li><a href="#servico-consulta-produto">Consulta Produto</a></li>
                            <li><a href="#servico-set-pedido">Enviar Pedido</a></li>
                            <li><a href="#servico-set-pagamento">Enviar Status Pagamento</a></li>
                            <li><a href="#servico-consulta-pedido">Consulta Pedido</a></li>
                            <li><a href="#servico-consulta-tracking">Consulta Tracking</a></li>
                            <li><a href="#servico-consulta-bandeira">Consulta Bandeira</a></li>
                            <li><a href="#servico-consulta-parcelamento">Consulta Parcelamento</a></li>
                            <li><a href="#servico-consulta-campanha">Consulta Campanha</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#callbacks">Callbacks</a>
                        <ul>
                            <li><a href="#callback-notificacao-estoque-preco">Alteração Estoque/Preço</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li><a href="#objetos">Objetos</a></li>
            <li>
                <a href="#tabelas">Tabelas</a>
                <ul>
                    <li><a href="#tabela-site-ids"></a></li>
                </ul>
            </li>
        </ul>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
        {% block content %}{% endblock %}
    </div>
    <!-- /#page-content-wrapper -->
</div>

<script src="//code.jquery.com/jquery-2.2.0.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="/assets/js/lib/jquery.highlight.js"></script>
<script src="/assets/js/lib/softbox-code.js"></script>
<script>
    $(document).ready(function () {
        $('pre.code').highlight({source: false, zebra: true, indent: 'space', list: 'ul'});
        $(document).on("scroll", onScroll);
        $("a[href^='#']").on('click', function (e) {
            e.preventDefault();
            $(document).off("scroll");

            $('a').each(function () {
                $(this).removeClass('active');
            });
            $(this).addClass('active');

            var target = this.hash, menu = target;
            $target = $(target);
            $('html, body').stop().animate({
                'scrollTop': $target.offset().top-10
            }, 500, 'swing', function () {
                window.location.hash = target;
                $(document).on("scroll", onScroll);
            });
        });


        function onScroll(event){
            var scrollPos = $(document).scrollTop();
            $('#sidebar-wrapper').find('li > a').each(function () {
                var currLink = $(this);
                var refElement = $(currLink.attr("href"));
                if (refElement.position().top <= scrollPos - 10 ) {
                    $('#sidebar-wrapper').find('a').removeClass("active");
                    currLink.addClass("active");
                }
                else{
                    currLink.removeClass("active");
                }
            });
        }
    });
</script>
{% block scripts %}
{% endblock %}
</body>
</html>