.logo {margin: 12px 0px 0px 20px; width: 60%;}

.sidebar-nav {top: 110px;}

.code
{
    overflow: scroll !important;
    height: auto;
    max-height: 400px;
    margin:5px 5px 0px 0px;
}

.code ul li
{
    word-wrap: normal;
}

h5 {font-weight: bold;}

.no-radius {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}


[v-cloak] {
    display: none;
}