/*!
 * Start Bootstrap - Simple Sidebar HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

/* Toggle Styles */

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    background: #eee;
}

#wrapper.toggled {
    padding-left: 250px;
}

.table {
    border: 1px solid #cfcfcf !important;
}

.table thead {
    background: #607D8B;
    color: white;
}

h2 , h3  , h4 , h5{
    color: #283B44;
}

.navbar-brand {
    color: #283B44!important;
}

h5 {
    font-size: 16pt;
}

.glyphicon {
    font-size:14px;
    padding-right: 5px;
    line-height: 40px;
    top: 0px;
}

.service-title {
    background: #283B44;
    padding: 10px;
    padding-left: 20px;
    font-size: 16pt;
    color: #fff;
}

.service-comment {
    background: rgba(169, 169, 169, 0.55);
    padding: 10px;
    padding-left: 20px;
    color: #555;
    font-weight:bold;
}

.panel-navbar {
    padding: 5px!important;
}

.navbar-default {
    border: 0;
    margin: 0;
    background: #fff;
}
.panel {
    border-radius: 5px;
    background: white;
    padding:10px 5px 5px 5px;
    border: 1px solid #e1e1e1;
}

.panel.cat {
    border-radius : 5px 5px 0px 0px;
    border-bottom: 0px;
    margin-bottom:0px;
}

.panel.cat p {
    padding-left: 10px;
}

.sub {
    padding: 20px;
    border-radius : 0px 0px 5px 5px;
    margin:0px;
}

.subcat {
    padding:20px;
    right:20px;
    border-radius : 0px;
    margin:0px;
    border-bottom:0px;
}

.subcat.end {
    margin-bottom: 20px;
    border-radius : 0px 0px 5px 5px;
}
.panel h2:first-child , .panel h1:first-child {
    margin-top:5px;
    line-height: 30px;
    padding-left: 10px;
}

.panel hr {
    margin-top:5px;
}
.panel hr.separator {
    margin-top: 10px;
    margin-bottom: 10px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}
.sidebar-nav ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}
li a{
    line-height: 35px;
}
.sidebar-nav ul li a {
    padding: 0px 0px 0px 10px;
    color: #999999;
}

.sidebar-nav ul li a:hover {
    color: #999999;
}

.sidebar-nav ul li ul li a {
    padding: 0px 0px 0px 20px;
    color: #999999;
}

.sidebar-nav ul li ul li ul li a {
    padding: 0px 0px 0px 30px;
    color: #999999;
}

.sidebar-nav ul li ul li ul li a:hover {
    color: #999999;
}

.sidebar-nav ul li ul li a:hover {
    color: #999999;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 25px;
}

.sidebar-nav .active {
    background: rgba(255,255,255,0.2);
    color: white;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #999999;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

