{% extends "dashboard/template.html" %}

{% block content %}
<div id="wrapper">
    {% include('dashboard/sidebar.html') %}
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel" id="introducao">
                        <h2>Pedidos com Erro</h2>
                        <table class="table table-condensed table-bordered">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>ParceiroId</th>
                                <th>ParceiroPedidoId</th>
                                <th>Data Erro</th>
                                <th>Erro</th>
                                <th>Ações</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-cloak v-for="pedido in pedidos">
                                <td>{{ '{{ pedido.dadosImportacaoId }}' }}</td>
                                <td>{{ '{{ pedido.parceiroId }}' }}</td>
                                <td>{{ '{{ pedido.parceiroPedidoId }}' }}</td>
                                <td>{{ '{{ pedido.dataErro }}' }}</td>
                                <td>{{ '{{ pedido.mensagemErroImportacao }}' }}</td>
                                <td>
                                    <a href="#" class="btn btn-success" v-on:click="reprocessarPedido(pedido.dadosImportacaoId, $index)">Reprocessar</a>
                                    <a href="#" class="btn btn-danger" v-on:click="cancelarPedido(pedido.dadosImportacaoId, $index)">Cancelar</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block scripts %}
<script src="/assets/js/lib/bootbox.min.js"></script>
<script>
    var app = new Vue({
        el: "#app",
        mixins: [loginMixin],
        data: {
            pedidos: []
        },
        methods: {
            buscarTarefas: function () {
                this.$http.get('/v3/buscarPedidosComErro')
                        .then(function (response) {
                            return response.json();
                        }, function (response) {
                            return response.json();
                        })
                        .then(function (response) {
                            this.$set('pedidos', response.data);
                        });
            },
            reprocessarPedido: function (dadosImportacaoId, $index) {
                var pedidoResource = this.$resource('{{ httpHost }}/servicos/processarPrePedido{/dadosImportacaoId}');
                pedidoResource.get({dadosImportacaoId: dadosImportacaoId}).then(function (response) {
                    if (response.data.success) {
                        this.pedidos = this.pedidos.filter(function (value, index) {
                            return index != $index;
                        });
                        alert('Pedido processado com sucesso');
                    } else {
                        this.pedidos[$index].mensagemErroImportacao = response.data.mensagem;
                    }
                }, function (response) {
                    this.pedidos[$index].mensagemErroImportacao = response.data.mensagem;
                });
            },
            cancelarPedido: function (dadosImportacaoId, $index) {
                bootbox.dialog({
                    onEscape: true,
                    title: "Cancelar Pedido",
                    message: "Deseja cancelar o pedido " + dadosImportacaoId + "? Esta ação é irreversível!",
                    buttons: {
                        danger: {
                            className: "btn-danger",
                            label: "Sim! Cancele este pedido!",
                            callback: function () {
                                bootbox.prompt({
                                    title: "Qual o motivo do cancelamento?",
                                    value: "Motivo do cancelamento",
                                    callback: function (result) {
                                        if (result !== null) {
                                            var resource = this.$resource('{{ httpHost }}/servicos/cancelarPrePedido{/dadosImportacaoId}?mensagem=' + decodeURIComponent(result));
                                            resource.get({
                                                dadosImportacaoId: dadosImportacaoId
                                            }).then(function (response) {
                                                if (response.data.success) {
                                                    this.pedidos = this.pedidos.filter(function (item, index) {
                                                        return index !== $index;
                                                    });
                                                }
                                            }.bind(this), function (response) {
                                                alert(response.data.mensagem);
                                            });
                                        }
                                    }.bind(this)
                                });
                            }.bind(this)
                        }
                    }
                }, function (response) {
                    alert(response);
                });
            }
        },
        ready: function () {
            this.buscarTarefas();
        }
    })
</script>
{% endblock %}