<!--SERVICE-->
<div class="service-title" id="callback-notificacao-estoque-preco">
    Alteração de Estoque e/ou Preço
</div>


<div class="panel subcat">
    <h5><i class="glyphicon glyphicon-asterisk"></i> Consulta estoque (HTTP GET)</h5>
    <p>
        Este callback notifica sempre que houver alterações na quantidade do estoque de um item ou então
        quando seu preço for modificado.
    </p>

    <h4><i class="glyphicon glyphicon-asterisk"></i> Parâmetros</h4>
    <table class="table table-bordered table-striped table-condensed">
        <thead>
        <tr>
            <th rowspan="2">Parâmetro</th>
            <th rowspan="2">Descrição</th>
            <th rowspan="2">Tipo</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>skuId</td>
            <td>Identificador do Produto (SKU)</td>
            <td>INT</td>
        </tr>
        </tbody>
    </table>

    <h4><i class="glyphicon glyphicon-asterisk"></i> Exemplo de Input</h4>
    <pre class="code" lang="json">{% include "documentacao/v2/exemplos/input_callback_estoque_preco.json" %}</pre>
</div>