<!--SERVICE-->
<div class="service-title" id="servico-consulta-produto">
    Serviço Produto
</div>
<div class="service-comment">
    <p>Este serviço provê acessos a serviços referentes a produtos no site.</p>
    <p>URL: <a href="{{ httpHost }}/v2/produto">{{ httpHost }}/v2/produto</a></p>
</div>
<!--SERVICE END-->

<div class="panel subcat">

    <h5 id="metodo-consulta-produto">Consulta Produto (HTTP GET)</h5>
    <p>Retorna os dados de Produtos de acordo com os parâmetros enviados. Se for enviado um Código de
        Produto, então será retornada a informação somente daquele produto. Caso contrário serão retornadas
        informações de todos os produtos utilizando-se do mecanismo de paginação.</p>
    <p>Deverá ser consultado utilizando o método HTTP GET.</p>
    <p>URL: <a href="{{ httpHost }}/v2/produto">{{ httpHost }}/v2/produto</a></p>

    <p><strong>Exemplo de consulta por produtos específicos: </strong></p>
    <p><a
            href="{{ httpHost }}/v2/produto?parceiroId=2&produtoCodigo[]=C55837&produtoCodigo[]=597508&produtoCodigo[]=C47104&produtoCodigo[]=605560">{{
        httpHost
        }}/v2/produto?parceiroId=2&produtoCodigo[]=C55837&produtoCodigo[]=597508&produtoCodigo[]=C47104&produtoCodigo[]=605560</a>
    </p>
    <hr>
    <p><strong>Exemplo de consulta por paginação: </strong></p>
    <p><a
            href="{{ httpHost }}/v2/produto?parceiroId=2&pagina=1&disponivel=1">{{
        httpHost
        }}/v2/produto?parceiroId=2&pagina=1&disponivel=1</a>
    </p>
    <hr>

    <h4><i class="glyphicon glyphicon-asterisk"></i> Parâmetros</h4>
    <table class="table table-bordered table-striped table-condensed">
        <thead>
        <tr>
            <th rowspan="2">Parâmetro</th>
            <th rowspan="2">Descrição</th>
            <th rowspan="2">Tipo</th>
            <th rowspan="2">Obrigatório</th>
            <th colspan="2">Tamanho</th>
        </tr>
        <tr>
            <th>Min</th>
            <th>Max</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>parceiroId</td>
            <td>Identificador do Parceiro</td>
            <td>INT</td>
            <td>Sim</td>
            <td>1</td>
            <td>99</td>
        </tr>
        <tr>
            <td>produtoCodigo</td>
            <td>Código do produto. Se for enviado como NULL serão retornados todos os produtos</td>
            <td>CHAR</td>
            <td>Não</td>
            <td colspan="2">10</td>
        </tr>
        <tr>
            <td>pagina</td>
            <td>Inteiro entre 1 e o total de páginas informada pelo sistema na primeira requisição</td>
            <td>INT</td>
            <td>Não</td>
            <td colspan="2">Total de páginas</td>
        </tr>
        <tr>
            <td>disponivel</td>
            <td>Inteiro. 1 para retornar somente produtos disponíveis. 0 ou não informar retorna todos os produtos</td>
            <td>INT</td>
            <td>Não</td>
            <td colspan="2">1</td>
        </tr>
        </tbody>
    </table>
    <hr>
    <h4><i class="glyphicon glyphicon-asterisk"></i> Retorno para requisições informando códigos de produtos</h4>
    <p>Será retornado um objeto do tipo <a href="#objeto-rest-response">RestResponse</a><br/>
        Em caso de sucesso, no campo data será retornado um objeto semelhante ao informado abaixo:</p>
    <p>Observação: o campo [dadosPaginacao] nesse caso retornará null</p>
    <pre class="code" lang="json">{% include "documentacao/v2/exemplos/getProdutoExemplo1.json" %}</pre>

    <hr>
    <h4><i class="glyphicon glyphicon-asterisk"></i> Retorno para requisições paginadas</h4>
    <p>
        Será retornado um objeto do tipo <a href="#objeto-rest-response">RestResponse</a><br/>
        Em caso de sucesso para requisições paginadas com ou sem o parâmetro [pagina], no campo data será retornado um
        objeto semelhante ao informado abaixo:
    </p>
    <pre class="code" lang="json">{% include "documentacao/v2/exemplos/getProdutoExemplo2.json" %}</pre>

    <p><strong>OBS:</strong> Esse serviço possui um cache de informação. Para consulta completa da base de produtos o cache é
        de
        24 horas, ou seja, é atualizada somente 1 consulta completa por dia. Para consultas pontuais (por
        produto) o cache é de 5 minutos.<br/>
        *A consulta completa retorna todos os produtos que sofreram alteração nas últimas 48 horas.</p>

</div>