<!--SERVICE-->
<div class="service-title" id="servico-consulta-tracking">
    Serviço Tracking
</div>
<div class="service-comment">
    <p>O serviço de tracking permite rastrar os pedidos informados pelo parceiro para saber o atual status
        dentro do sistema.</p>
    <p>URL Serviço: <a href="{{ httpHost }}/v2/tracking">{{ httpHost }}/v2/tracking</a></p>
</div>
<!--SERVICE END-->
<div class="panel subcat end">
    <h5 id="metodo-consulta">Consulta Tracking (HTTP GET)</h5>
    <p>Retorna os dados de rastreamento do pedido, utilizando o novo serviço baseado no padrão RESTFul. Este
        serviço utiliza-se exclusivamente de dados json tanto para entrada quanto para saída de
        informações.</p>

    <p>URL Serviço: <a href="{{ httpHost }}/v2/tracking">{{ httpHost }}/v2/tracking</a></p>
    <p><strong>Atenção:</strong> o header content-type deve ser "application/json"</p>
    <hr>
    <h4><i class="glyphicon glyphicon-asterisk"></i> Parâmetros</h4>
    <table class="table table-bordered table-striped table-condensed">
        <thead>
        <tr>
            <th rowspan="2">Parâmetro</th>
            <th rowspan="2">Descrição</th>
            <th rowspan="2">Tipo</th>
            <th rowspan="2">Obrigatório</th>
            <th colspan="2">Tamanho</th>
        </tr>
        <tr>
            <th>Min</th>
            <th>Max</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>parceiroId</td>
            <td>Código do parceiro fornecido pela Máquina de Vendas</td>
            <td>INT</td>
            <td>Sim</td>
            <td colspan="2">11</td>
        </tr>
        <tr>
            <td>pedidoId</td>
            <td>Lista de pedidos a ser consultado pelo cliente</td>
            <td>INT[]</td>
            <td>Sim</td>
            <td>1</td>
            <td>10</td>
        </tr>
        </tbody>
    </table>
    <hr>

    <h4><i class="glyphicon glyphicon-asterisk"></i> Exemplo de input</h4>
    <pre class="code" lang="json">{% include "documentacao/v2/exemplos/trackingconsultainput.json" %}</pre>
    <hr>
    <h4><i class="glyphicon glyphicon-asterisk"></i> Exemplo de input direto na URL</h4>
    <pre class="code" lang="json">{% include "documentacao/v2/exemplos/trackingconsultainputurl.json" %}</pre>
    <hr>

    <h4><i class="glyphicon glyphicon-asterisk"></i> Retorno</h4>
    <p>O retorno será uma string representando um JSON contendo os seguintes campos</p>
    <table class="table table-bordered table-striped table-condensed">
        <thead>
        <tr>
            <th>Campo</th>
            <th>Descrição</th>
            <th>Tipo</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>status</td>
            <td>Status da operações. Será baseado nos códigos http</td>
            <td>INT</td>
        </tr>
        <tr>
            <td>msg</td>
            <td>Caso seja necessário retornar alguma mensagem (um erro por exemplo), será retornado neste
                campo.
            </td>
            <td>STRING</td>
        </tr>
        <tr>
            <td>dados</td>
            <td>Lista contendo os pedidos requisitados e suas respectivas entregas com os dados de
                tracking
            </td>
            <td><a href="#objeto-pedido-tracking">Pedido</a>[]</td>
        </tr>
        </tbody>
    </table>
    <hr>
    <h4><i class="glyphicon glyphicon-asterisk"></i> Exemplo de saída</h4>
    <pre class="code" lang="json">{% include "documentacao/v2/exemplos/trackingconsultaoutput.json" %}</pre>
</div>