<!--SERVICE-->
<div class="service-title" id="servico-consulta-vendedor">
    Serviço Consulta Vendedor
</div>
<div class="service-comment">
    Verifica se um determinado vendedor está cadastrado no sistema para realizar venda B2C. São
    retornados os dados do vendedor e um token de autenticação para ser utilizado posteriormente no envio do pedido.
</div>
<!--SERVICE END-->
<div class="panel subcat">

    <h5><i class="glyphicon glyphicon-asterisk"></i> Consulta Vendedor (HTTP GET)</h5>


    <p>O vendedor deverá estar cadastrado no sistema B2C da Máquina de Vendas.</p>
    <p><a href="{{ httpHost }}/v2/vendedor">{{ httpHost }}/v2/vendedor</a></p>
    <hr>
    <h4><i class="glyphicon glyphicon-asterisk"></i> Parâmetros</h4>
    <table class="table table-bordered table-striped table-condensed">
        <thead>
        <tr>
            <th rowspan="2">Parâmetro</th>
            <th rowspan="2">Descrição</th>
            <th rowspan="2">Tipo</th>
            <th rowspan="2">Obrigatório</th>
            <th colspan="2">Tamanho</th>
        </tr>
        <tr>
            <th>Min</th>
            <th>Max</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>parceiroId</td>
            <td>Identificador do Parceiro</td>
            <td>INT</td>
            <td>Sim</td>
            <td>1</td>
            <td>99</td>
        </tr>
        <tr>
            <td>email</td>
            <td>Email cadastrado do vendedor no sistema B2C da MV</td>
            <td>CHAR</td>
            <td>Sim</td>
            <td colspan="2">60</td>
        </tr>
        <tr>
            <td>senha</td>
            <td>Senha do vendedor no sistema B2C da MV</td>
            <td>CHAR</td>
            <td>Sim</td>
            <td colspan="2">14</td>
        </tr>
        </tbody>
    </table>
    <hr>
    <h4><i class="glyphicon glyphicon-asterisk"></i> Retorno</h4>
    <p>Será retornado um objeto do tipo <a href="#objeto-rest-response">RestResponse</a>.<br/>
        Será retornado no campo “Dados” um JSON contendo os dados do vendedor seguindo o formato apresentado
        abaixo:</p>
    <pre class="code" lang="json">{% include "documentacao/v2/exemplos/getVendedorExemplo1.json" %}</pre>

</div>