<!--SERVICE-->
<div class="service-title" id="servico-consulta-campanha">
    Serviço Campanha
</div>
<div class="service-comment">
    <p>Este serviço provê acessos a serviços referentes a produtos no site.</p>
    <p>URL: <a href="{{ httpHost }}/v2/campanha">{{ httpHost }}/v2/campanha</a></p>
</div>
<!--SERVICE END-->
<div class="panel subcat">
    <h5><i class="glyphicon glyphicon-asterisk"></i> Consulta Campanha (HTTP GET)</h5>
    <p>Retorna os dados da campanha com o seu respectivo catálogo, produtos e as categorias que obtém desconto.</p>

    <p>O retorno será um objeto do tipo <a href="#objeto-rest-response">RestResponse</a>.</p>

    <h4><i class="glyphicon glyphicon-asterisk"></i> Parâmetros</h4>
    <table class="table table-bordered table-striped table-condensed">
        <thead>
        <tr>
            <th rowspan="2">Parâmetro</th>
            <th rowspan="2">Descrição</th>
            <th rowspan="2">Tipo</th>
            <th rowspan="2">Obrigatório</th>
            <th colspan="2">Tamanho</th>
        </tr>
        <tr>
            <th>Min</th>
            <th>Max</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>parceiroId</td>
            <td>Identificador do Parceiro</td>
            <td>INT</td>
            <td>Sim</td>
            <td>1</td>
            <td>99</td>
        </tr>        
        </tbody>
    </table>

    <h4><i class="glyphicon glyphicon-asterisk"></i> Retorno</h4>
    <p>Será retornado um objeto do tipo <a href="#objeto-rest-response">RestResponse</a>, com os dados da  <a href="#objeto-campanha">Campanha</a>.<br/>
        No campo “Dados” será retornado uma string no formato JSON com o seguinte formato:</p>

    <pre class="code" lang="json">{% include "documentacao/v2/exemplos/consulta_campanha.json" %}</pre>
    
    <p>Objeto <a href="#objeto-campanha">Campanha</a>.</p>
    
</div>