<!--SERVICE-->
<div class="service-title" id="servico-consulta-pedido">
    Consulta Pedido
</div>
<div class="service-comment">
    <p>Este serviço permite ao parceiros verificar se o pedido foi devidamente internalizado pelo sistema.</p>
    <p><a href="{{ httpHost }}/v2/pedido_parceiro">{{ httpHost }}/v2/pedido_parceiro</a></p>
</div>
<!--SERVICE END-->


<div class="panel subcat">
    <h5 id="metodo-set-pedido"><i class="glyphicon glyphicon-asterisk"></i> Consulta Pedido (HTTP GET)
    </h5>
    <p>
        Recebe o pedido que foi realizado no site do parceiro. Todos os parâmetros devem ser enviados, os que
        não são obrigatórios devem ser enviados como vazio. Os parâmetros enviados não devem conter caracteres
        especiais (aspas simples, aspas duplas, etc.).
    </p>
    <p>URL Serviço: <a href="{{ httpHost }}/v2/pedido_parceiro">{{ httpHost }}/v2/pedido_parceiro</a></p>
    <hr>
    <h4><i class="glyphicon glyphicon-asterisk"></i> Parâmetros</h4>
    <table class="table table-bordered table-striped table-condensed">
        <thead>
        <tr>
            <th rowspan="2">Parâmetro</th>
            <th rowspan="2">Descrição</th>
            <th rowspan="2">Tipo</th>
            <th rowspan="2">Obrigatório</th>
            <th colspan="2">Tamanho</th>
        </tr>
        <tr>
            <th>Min</th>
            <th>Max</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>parceiroId</td>
            <td>Id do site do parceiro</td>
            <td>INT</td>
            <td>Sim</td>
            <td>1</td>
            <td>11</td>
        </tr>
        <tr>
            <td>pedidoParceiro</td>
            <td>Array contendo os códigos de pedido do parceiro</td>
            <td>CHAR</td>
            <td>Sim</td>
            <td>1</td>
            <td>25</td>
        </tr>
        </tbody>
    </table>

    <hr>
    <h4><i class="glyphicon glyphicon-asterisk"></i> Retorno</h4>
    <p>
        Será retornado um objeto do tipo <a href="#objeto-rest-response">RestResponse</a> contendo o status
        de sucesso, os dados, uma mensagem (caso haja) e o código de retorno:
    </p>
    <pre class="code" lang="json">{% include "documentacao/v2/exemplos/consultaPedidoSaida1.json" %}</pre>
</div>