
<!--SERVICE-->
<div class="service-title" id="servico-consulta-dados">
    Serviço Dados
</div>
<div class="service-comment">
    <p>O serviço de dados permite ao parceiro consultar as interfaces do site. O(s) método(s) fornecido(s)
        são:
        <strong><a href="#metodo-get-dados">getDados</a></strong></p>
    <p>URL: <a href="{{ httpHost }}/v2/dados">{{ httpHost }}/v2/dados</a></p>
</div>
<!--SERVICE END-->
<div class="panel subcat" id="metodo-get-dados">
    <h5><i class="glyphicon glyphicon-asterisk"></i> Consulta Dados (HTTP GET)</h5>
    <p>O método getDados do serviço Dados recupera informações sobre a interface selecionada.</p>
    <hr>
    <h4><i class="glyphicon glyphicon-asterisk"></i> Parâmetros</h4>
    <table class="table table-bordered table-striped table-condensed">
        <thead>
        <tr>
            <th rowspan="2">Parâmetro</th>
            <th rowspan="2">Descrição</th>
            <th rowspan="2">Tipo</th>
            <th rowspan="2">Obrigatório</th>
            <th colspan="2">Tamanho</th>
        </tr>
        <tr>
            <th>Min</th>
            <th>Max</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>parceiroId</td>
            <td>Identificador do Parceiro</td>
            <td>INT</td>
            <td>Sim</td>
            <td>1</td>
            <td>11</td>
        </tr>
        <tr>
            <td>interface</td>
            <td>Tipo da interface (vide tabela <a href="#tabela-interfaces">Interfaces</a>)</td>
            <td>INT</td>
            <td>Sim</td>
            <td>1</td>
            <td>11</td>
        </tr>
        </tbody>
    </table>
    <hr>
    <h4><i class="glyphicon glyphicon-asterisk"></i> Retorno</h4>
    <p>Será retornado um objeto do tipo <a href="#objeto-rest-response">RestResponse</a>.<br/>
        Será retornado no campo “Dados” um JSON contendo os dados do vendedor seguindo o formato apresentado
        abaixo:</p>

    <pre class="code" lang="json">{% include "documentacao/v2/exemplos/getDadosExemplo1.json" %}</pre>

</div>