<div class="service-title" id="servico-consulta-bandeira">
    Serviço Bandeira
</div>
<div  class="service-comment">Consulta de bandeiras que podem ser utilizadas no sistema de integração</div>
<div class="panel subcat">
    <h5><i class="glyphicon glyphicon-asterisk"></i> Consulta Bandeira (HTTP GET)</h5>
    <p><a href="{{ httpHost }}/v2/bandeira">{{ httpHost }}/v2/bandeira</a></p>
    <hr>
    <h4><i class="glyphicon glyphicon-asterisk"></i> Parâmetros</h4>
    <table class="table table-bordered table-striped table-condensed">
        <thead>
        <tr>
            <th rowspan="2">Parâmetro</th>
            <th rowspan="2">Descrição</th>
            <th rowspan="2">Tipo</th>
            <th rowspan="2">Obrigatório</th>
            <th colspan="2">Tamanho</th>
        </tr>
        <tr>
            <th>Min</th>
            <th>Max</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>parceiroId</td>
            <td>Identificador do Parceiro</td>
            <td>INT</td>
            <td>Sim</td>
            <td>1</td>
            <td>99</td>
        </tr>
        </tbody>
    </table>
    <hr>
    <h4><i class="glyphicon glyphicon-asterisk"></i> Retorno</h4>
    <p>Será retornado um objeto do tipo <a href="#objeto-rest-response">RestResponse</a>.<br/>
        Será retornado no campo “Dados” um JSON contendo os dados das bandeiras seguindo o formato apresentado
        abaixo:</p>
    <pre class="code" lang="json">{% include "documentacao/v2/exemplos/getBandeiraExemplo1.json" %}</pre>

</div>