<!--SERVICE-->
<div class="service-title" id="servico-consulta-estoque">
    Serviço Estoque
</div>
<div class="service-comment">
    <p>Este serviço provê acessos a serviços referentes a produtos no site.</p>
    <p>URL: <a href="{{ httpHost }}/v2/estoque">{{ httpHost }}/v2/estoque</a></p>
</div>
<!--SERVICE END-->
<div class="panel subcat">
    <h5><i class="glyphicon glyphicon-asterisk"></i> Consulta estoque (HTTP GET)</h5>
    <p>Retorna os dados de Estoque de acordo com os parâmetros enviados. A consulta contém
    um limite de no máximo 100 itens por consulta, caso contrário será disparado um erro.</p>

    <p>O retorno será um objeto do tipo <a href="#objeto-rest-response">RestResponse</a>.</p>

    <h4><i class="glyphicon glyphicon-asterisk"></i> Parâmetros</h4>
    <table class="table table-bordered table-striped table-condensed">
        <thead>
        <tr>
            <th rowspan="2">Parâmetro</th>
            <th rowspan="2">Descrição</th>
            <th rowspan="2">Tipo</th>
            <th rowspan="2">Obrigatório</th>
            <th colspan="2">Tamanho</th>
        </tr>
        <tr>
            <th>Min</th>
            <th>Max</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>parceiroId</td>
            <td>Identificador do Parceiro</td>
            <td>INT</td>
            <td>Sim</td>
            <td>1</td>
            <td>99</td>
        </tr>
        <tr>
            <td>produtoCodigo[]</td>
            <td>Código do produto.</td>
            <td>STRING[]</td>
            <td>Sim</td>
            <td>1</td>
            <td>60</td>
        </tr>
        </tbody>
    </table>

    <h4><i class="glyphicon glyphicon-asterisk"></i> Retorno</h4>
    <p>Será retornado um objeto do tipo <a href="#objeto-rest-response">RestResponse</a>.<br/>
        No campo “Dados” será retornado uma string no formato JSON com o seguinte formato:</p>

    <pre class="code" lang="json">{% include "documentacao/v2/exemplos/getEstoqueExemplo1.json" %}</pre>
    <p><strong>OBS:</strong> Esse serviço possui um cache de informação. Para
        consultas pontuais (por produto) o cache é de 1 minuto.</p>

</div>