<div class="service-title" id="servico-consulta-parcelamento">
    Serviço Parcelamento
</div>
<div class="service-comment">
    <p>Método utilizado para realizar consultas de parcelamento no sistema de integração.</p>
    <p><a href="{{ httpHost }}/v2/parcelamento">{{ httpHost }}/v2/parcelamento</a></p>
</div>
<div class="panel subcat" id="servico-consulta-parcelamento">
    <h5><i class="glyphicon glyphicon-asterisk"></i> Consulta Parcelamento (HTTP GET)</h5>
    <p><a href="{{ httpHost }}/v2/parcelamento">{{ httpHost }}/v2/parcelamento</a></p>
    <hr>
    <h4><i class="glyphicon glyphicon-asterisk"></i> Parâmetros</h4>
    <table class="table table-bordered table-striped table-condensed">
        <thead>
        <tr>
            <th rowspan="2">Parâmetro</th>
            <th rowspan="2">Descrição</th>
            <th rowspan="2">Tipo</th>
            <th rowspan="2">Obrigatório</th>
            <th colspan="2">Tamanho</th>
        </tr>
        <tr>
            <th>Min</th>
            <th>Max</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>parceiroId</td>
            <td>Identificador do Parceiro</td>
            <td>INT</td>
            <td>Sim</td>
            <td>1</td>
            <td>99</td>
        </tr>
        <tr>
            <td>valor</td>
            <td>Valor do parcelamento a ser consultado.<br/>
                <strong>Caso a consulta seja por produto este campo se torna opcional.</strong><br/>
                Caso não informado, será utilizado o valor do produto.<br/>
                Caso informado, será utilizado o valor informado para gerar os parcelamentos</td>
            <td>FLOAT</td>
            <td>Sim</td>
            <td>10</td>
            <td>2</td>
        </tr>
        <tr>
            <td>bandeiraId</td>
            <td>Lista de bandeiras a ser consultada</td>
            <td>INT[]</td>
            <td>Não</td>
            <td>0</td>
            <td>99</td>
        </tr>
        <tr>
            <td>codigo</td>
            <td>SKU do produto a ser consultado. Serão aplicados as regras específicas do produto sobre as regras do cartão.</td>
            <td>STRING</td>
            <td>Não</td>
            <td>0</td>
            <td>25</td>
        </tr>
        </tbody>
    </table>
    <hr>
    <h4><i class="glyphicon glyphicon-asterisk"></i> Retorno</h4>
    <p>Será retornado um objeto do tipo <a href="#objeto-rest-response">RestResponse</a>.<br/>
        Será retornado no campo “Dados” um JSON contendo os dados das bandeiras seguindo o formato apresentado
        abaixo:</p>
    <pre class="code" lang="json">{% include "documentacao/v2/exemplos/getParcelamentoExemplo1.json" %}</pre>
</div>