<!--SERVICE-->
<div class="service-title" id="servico-consulta-frete">
    Serviço Frete
</div>
<div class="service-comment">
    <p>Este serviço provê acessos à serviços referentes à frete no site.</p>
    <p>URL: <a href="{{ httpHost }}/v2/frete">{{ httpHost }}/v2/frete</a></p>
</div>
<!--SERVICE END-->
<div class="panel subcat">
    <h5><i class="glyphicon glyphicon-asterisk"></i> Consulta Frete (HTTP GET)</h5>
    <p>Retorna os dados de Frete de acordo com os parâmetros enviados.</p>
    <p><a href="{{ httpHost }}/v2/frete">{{ httpHost }}/v2/frete</a></p>
    <hr>
    <h4><i class="glyphicon glyphicon-asterisk"></i> Parâmetros</h4>
    <table class="table table-bordered table-striped table-condensed">
        <thead>
        <tr>
            <th rowspan="2">Parâmetro</th>
            <th rowspan="2">Descrição</th>
            <th rowspan="2">Tipo</th>
            <th rowspan="2">Obrigatório</th>
            <th colspan="2">Tamanho</th>
        </tr>
        <tr>
            <th>Min</th>
            <th>Max</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>parceiroId</td>
            <td>Identificador do Parceiro</td>
            <td>INT</td>
            <td>Sim</td>
            <td>1</td>
            <td>99</td>
        </tr>
        <tr>
            <td>cep</td>
            <td>Cep de destino (sem traço)</td>
            <td>CHAR</td>
            <td>Sim</td>
            <td colspan="2">8</td>
        </tr>
        <tr>
            <td>produtos</td>
            <td>Array de string</td>
            <td>string[]</td>
            <td>Sim</td>
            <td colspan="2">8</td>
        </tr>
        <tr>
            <td>quantidades</td>
            <td>Array de inteiro</td>
            <td>int[]</td>
            <td>Sim</td>
            <td colspan="2">8</td>
        </tr>
        <tr>
            <td>dataAgendamento</td>
            <td>Data de Agendamento (Sem barras: ddmmAAA)</td>
            <td>CHAR</td>
            <td>Não</td>
            <td colspan="2">8</td>
        </tr>
        <tr>
            <td>turno</td>
            <td>Turno do Agendamento</td>
            <td>INT</td>
            <td>Não</td>
            <td colspan="2">1</td>
        </tr>
        </tbody>
    </table>
    <hr>
    <h4><i class="glyphicon glyphicon-asterisk"></i> Retorno</h4>
    <p>Será retornado um objeto do tipo <a href="#objeto-rest-response">RestResponse</a>.<br/>
        No campo “Dados” será retornado uma string no formato JSON com o seguinte formato:</p>

    <pre class="code" lang="json">{% include "documentacao/v2/exemplos/getFreteExemplo1.json" %}</pre>
    <p><strong>OBS:</strong> Ao informar o campo produtos, deverá ser informado, em igual quantidade, o números de quantidades.</p>
    <p>Para cada produto, a próxima quantidade declarada será referente a ele.</p>

</div>