<div class="panel cat">
    <h2 id="tabelas">Tabelas</h2>
</div>

<div class="panel subcat">
    <h3 id="tabela-erros">Códigos de Retorno</h3>
    <table class="table table-bordered table-striped table-condensed">
        <thead>
        <tr>
            <th>Código</th>
            <th>Descrição</th>
        </tr>
        </thead>
        <tbody>
        {% for codigo,mensagem in erros %}
        <tr>
            <td>{{ codigo }}</td>
            <td>{{ mensagem }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<div class="panel subcat">
    <h3 id="tabela-site-ids">SiteId's</h3>
    <table class="table table-bordered table-striped table-condensed">
        <thead>
        <tr>
            <th>SiteId</th>
            <th>Nome</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>1</td>
            <td>Ricardo Eletro</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Insinuante</td>
        </tr>
        <tr>
            <td>5</td>
            <td>CityLar</td>
        </tr>
        <tr>
            <td>10</td>
            <td>Clube do Ricardo</td>
        </tr>
        <tr>
            <td>12</td>
            <td>EletroShopping</td>
        </tr>
        <tr>
            <td>16</td>
            <td>e-Colchão</td>
        </tr>
        <tr>
            <td>17</td>
            <td>Cipela</td>
        </tr>
        <tr>
            <td>18</td>
            <td>Kangoolu</td>
        </tr>
        <tr>
            <td>19</td>
            <td>Comercial São Jorge</td>
        </tr>
        <tr>
            <td>20</td>
            <td>Mala Mix</td>
        </tr>
        </tbody>
    </table>
</div>

<div class="panel subcat">
    <h3 id="tabela-interfaces">Interfaces</h3>
    <table class="table table-bordered table-striped table-condensed">
        <thead>
        <tr>
            <th>SiteId</th>
            <th>Nome</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>1</td>
            <td>Interface de Estoque</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Interface de Pedido</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Interface de Tracking</td>
        </tr>
        </tbody>
    </table>
</div>

<div class="panel subcat">
    <h3 id="tabela-pontos-controle">Pontos de Controle</h3>
    <table class="table table-bordered table-striped table-condensed">
        <thead>
        <tr>
            <th>Ponto de Controle</th>
            <th>Descrição</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>AAE</td>
            <td>Aviso Aguardando Retirada</td>
        </tr>
        <tr>
            <td>AEF</td>
            <td>Aguardando estoque disponível no WMS</td>
        </tr>
        <tr>
            <td>AEW</td>
            <td>Aguardando envio ao WMS</td>
        </tr>
        <tr>
            <td>AGN</td>
            <td>Agendado</td>
        </tr>
        <tr>
            <td>ARA</td>
            <td>Aguardando retirada na Agencia dos Correios</td>
        </tr>
        <tr>
            <td>CAA</td>
            <td>Coleta aguardando agendamento</td>
        </tr>
        <tr>
            <td>CAE</td>
            <td>Comunicação Automática de e-mail</td>
        </tr>
        <tr>
            <td>CAN</td>
            <td>Entrega cancelada</td>
        </tr>
        <tr>
            <td>CDP</td>
            <td>Coleta em desacordo com o pedido</td>
        </tr>
        <tr>
            <td>CED</td>
            <td>Coleta em rota de devolução</td>
        </tr>
        <tr>
            <td>CEV</td>
            <td>Convertido em vale</td>
        </tr>
        <tr>
            <td>CNR</td>
            <td>Coleta não realizada</td>
        </tr>
        <tr>
            <td>COC</td>
            <td>Coleta cancelada</td>
        </tr>
        <tr>
            <td>COD</td>
            <td>Coleta devolvida</td>
        </tr>
        <tr>
            <td>COR</td>
            <td>Coleta solicitada em rota</td>
        </tr>
        <tr>
            <td>COT</td>
            <td>Coleta realizada por outra transportadora</td>
        </tr>
        <tr>
            <td>CS</td>
            <td>Coleta solicitada</td>
        </tr>
        <tr>
            <td>CSD</td>
            <td>Coleta solicitada em duplicidade</td>
        </tr>
        <tr>
            <td>DD</td>
            <td>Destinatário desconhecido</td>
        </tr>
        <tr>
            <td>EA1</td>
            <td>Entrega Agendada 1</td>
        </tr>
        <tr>
            <td>EA2</td>
            <td>Entrega Agendada 2</td>
        </tr>
        <tr>
            <td>EA3</td>
            <td>Entrega Agendada 3</td>
        </tr>
        <tr>
            <td>EA4</td>
            <td>Entrega Agendada 4</td>
        </tr>
        <tr>
            <td>EA5</td>
            <td>Entrega Agendada 5</td>
        </tr>
        <tr>
            <td>EAI</td>
            <td>Entrada de acesso interditada</td>
        </tr>
        <tr>
            <td>EMD</td>
            <td>Em processo de devolução para o CD</td>
        </tr>
        <tr>
            <td>ENT</td>
            <td>Entregue ao cliente</td>
        </tr>
        <tr>
            <td>ETR</td>
            <td>Entregue a Transportadora</td>
        </tr>
        <tr>
            <td>FD</td>
            <td>Falta de documento</td>
        </tr>
        <tr>
            <td>FLN</td>
            <td>Feriado local / nacional</td>
        </tr>
        <tr>
            <td>IVE</td>
            <td>Item virtual enviado</td>
        </tr>
        <tr>
            <td>LLC</td>
            <td>Liberacao da Lista</td>
        </tr>
        <tr>
            <td>NFS</td>
            <td>NFe Saída/Entrega Aprovada</td>
        </tr>
        <tr>
            <td>NFS2V</td>
            <td>2ª Via de NFe Saída/Entrega Solicita pelo Cliente</td>
        </tr>
        <tr>
            <td>OT1</td>
            <td>Ocorrencia Transporte 1</td>
        </tr>
        <tr>
            <td>OT2</td>
            <td>Ocorrencia Transporte 2</td>
        </tr>
        <tr>
            <td>OT3</td>
            <td>Ocorrencia Transporte 3</td>
        </tr>
        <tr>
            <td>PAP</td>
            <td>Pedido Pagamento Aprovado</td>
        </tr>
        <tr>
            <td>PIC</td>
            <td>Produto indisponivel para coleta</td>
        </tr>
        <tr>
            <td>REC</td>
            <td>Rejeitado no crédito</td>
        </tr>
        <tr>
            <td>RPC</td>
            <td>Recusado pelo cliente</td>
        </tr>
        <tr>
            <td>WMS</td>
            <td>No WMS</td>
        </tr>
        </tbody>
    </table>
</div>