
<!--SERVICE-->
<div class="service-title" id="servico-confirmacao-dados">
    Serviço Confirmação Dados
</div>
<div class="service-comment">
    <p>O serviço de Interface Confirmação permite ao parceiro confirmar os dados recebidos via interface de
        consulta.</p>
    <p><a href="{{ httpHost }}/v2/dados">{{ httpHost }}/v2/dados</a></p>
</div>
<!--SERVICE END-->
<div class="panel subcat">
    <h5 id="metodo-set-interface-confirmacao"><i class="glyphicon glyphicon-asterisk"></i>Confirmação Dados (HTTP POST)</h5>
    <p><a href="{{ httpHost }}/v2/dados">{{ httpHost }}/v2/dados</a></p>
    <p><strong>Atenção:</strong> o header content-type deve ser "application/json"</p>
    <h4><i class="glyphicon glyphicon-asterisk"></i> Parâmetros</h4>
    <table class="table table-bordered table-striped table-condensed">
        <thead>
        <tr>
            <th rowspan="2">Parâmetro</th>
            <th rowspan="2">Descrição</th>
            <th rowspan="2">Tipo</th>
            <th rowspan="2">Obrigatório</th>
            <th colspan="2">Tamanho</th>
        </tr>
        <tr>
            <th>Min</th>
            <th>Max</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>interfaceTipo</td>
            <td>Identificador da interface a ser consultada</td>
            <td>INT</td>
            <td>Sim</td>
            <td>1</td>
            <td>11</td>
        </tr>
        <tr>
            <td>parceiroId</td>
            <td>Identificador do Parceiro</td>
            <td>INT</td>
            <td>Sim</td>
            <td>1</td>
            <td>11</td>
        </tr>
        <tr>
            <td>confirmacao</td>
            <td>Tipo de confirmação:<br/>
                1 = OK<br/>
                2 = Não OK (Recupera informação anterior)
            </td>
            <td>INT</td>
            <td>Sim</td>
            <td colspan="2">1</td>
        </tr>
        </tbody>
    </table>
    <hr>
    <h4><i class="glyphicon glyphicon-asterisk"></i> Retorno</h4>
    <p>Será retornado um objeto do tipo <a href="#objeto-rest-response">RestResponse</a> contendo o código e a
        mensagem
        da operação.</p>
</div>