<div class="panel cat" id="objetos">
    <h2>Objetos</h2>
    <p>Esta seção do manual tem como finalidade descrever a estrutura dos objetos utilizados pelo sistema
        de integração da Máquina de Vendas.</p>
</div>

<div class="panel subcat">
    <h3 id="objeto-item">Item</h3>
    <table class="table table-bordered table-striped table-condensed">
        <thead>
        <tr>
            <th>campo</th>
            <th>Descrição</th>
            <th>Tipo</th>
            <th>Tamanho</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>codigo</td>
            <td>Código identificador do produto</td>
            <td>CHAR</td>
            <td>30</td>
        </tr>
        <tr>
            <td>quantidade</td>
            <td>Quantidade de itens para o código informado</td>
            <td>INT</td>
            <td>11</td>
        </tr>
        </tbody>
    </table>
</div>

<div class="panel subcat">
    <h3 id="objeto-rest-response">RestResponse</h3>
    <table class="table table-bordered table-striped table-condensed">
        <thead>
        <tr>
            <th>Campo</th>
            <th>Descrição</th>
            <th>Tipo</th>
            <th>Tamanho</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>codigo</td>
            <td>Código de retorno</td>
            <td>TEXT</td>
            <td>-</td>
        </tr>
        <tr>
            <td>data</td>
            <td>Dados de retorno. Pode retornar vazio.</td>
            <td>OBJECT | ARRAY</td>
            <td>-</td>
        </tr>
        <tr>
            <td>mensagem</td>
            <td>String contendo a mensagem de retorno da requisiçao.</td>
            <td>STRING</td>
            <td>-</td>
        </tr>
        <tr>
            <td>status</td>
            <td>Status da requisição. True se foi executada com sucesso.</td>
            <td>BOOLEAN</td>
            <td>-</td>
        </tr>
        </tbody>
    </table>
</div>

<div class="panel subcat">
    <h3 id="objeto-pedido-tracking">Pedido</h3>
    <table class="table table-bordered table-striped table-condensed">
        <thead>
        <tr>
            <th>Campo</th>
            <th>Descrição</th>
            <th>Tipo</th>
            <th>Tamanho</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>pedido_parceiro</td>
            <td>Código de pedido do cliene</td>
            <td>INT</td>
            <td>11</td>
        </tr>
        <tr>
            <td>entregas</td>
            <td>Array contendo as entregas para o respectivo pedido. A chave do array é o prefixo ENT_ mais
                o
                código da entrega. Ex.: se o código da entrega é 1234 o índice será ENT_1234.
            </td>
            <td><a href="#objeto-entrega-tracking">Entrega</a>[]</td>
            <td>-</td>
        </tr>
        <tr>
            <td>Msg</td>
            <td>String contendo a mensagem de retorno da requisição.</td>
            <td>STRING</td>
            <td>-</td>
        </tr>
        </tbody>
    </table>
</div>

<div class="panel subcat">
    <h3 id="objeto-entrega-tracking">Entrega</h3>
    <table class="table table-bordered table-striped table-condensed">
        <thead>
        <tr>
            <th>Campo</th>
            <th>Descrição</th>
            <th>Tipo</th>
            <th>Tamanho</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>itens</td>
            <td>Objeto contendo os itens do pedido. Os índices serão códigos de produto.</td>
            <td>Object javascript</td>
            <td>-</td>
        </tr>
        <tr>
            <td>trackings</td>
            <td>Objeto contendo os trackings para a entrega. Os índices serão os status de tracking
                registrados
                para a entrega. As chaves serão pontos de controle que podem ser consultados na <a
                        href="#tabela-pontos-controle">tabela Pontos de Controle</a>
            </td>
            <td>Object javascript</td>
            <td>-</td>
        </tr>
        </tbody>
    </table>
</div>

<div class="panel subcat">
    <h3 id="objeto-pedido-produto">PedidoProduto</h3>
    <table class="table table-bordered table-striped table-condensed">
        <thead>
        <tr>
            <th>Campo</th>
            <th>Descrição</th>
            <th>Tipo</th>
            <th>Tamanho</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>codigoProduto</td>
            <td>Código do produto MV</td>
            <td>INT</td>
            <td>30</td>
        </tr>
        <tr>
            <td>valorUnitario</td>
            <td>Valor do produto</td>
            <td>DECIMAL</td>
            <td>10,2</td>
        </tr>
        <tr>
            <td>valorTotal</td>
            <td>Valor unitário multiplicado pela quantidade</td>
            <td>DECIMAL</td>
            <td>10,2</td>
        </tr>
        <tr>
            <td>valorFrete</td>
            <td>Valor do frete. Frete grátis, informar 0</td>
            <td>DECIMAL</td>
            <td>10,2</td>
        </tr>
        <tr>
            <td>tipo</td>
            <td>Valor fixo = 1</td>
            <td>INT</td>
            <td>1</td>
        </tr>
        <tr>
            <td>prazoEntregaCombinado</td>
            <td>
                Prazo em dias de entrega informado para o cliente no ato da venda.<br/>
                No caso de haver entrega agendada, o prazo deve seguir a quantidade de dias da entrega
                agendada.
            </td>
            <td>INT</td>
            <td>11</td>
        </tr>
        <tr>
            <td>quantidade</td>
            <td>
                A quantidade do produto em questão.
            </td>
            <td>INT</td>
            <td>11</td>
        </tr>
        <tr>
            <td>sequencial</td>
            <td>
                Campo de controle da sequencia dos produtos do pedido. Iniciar em 1 e incrementar para os
                demais
                produtos do pedido.
            </td>
            <td>INT</td>
            <td>10,2</td>
        </tr>
        <tr>
            <td>valorDesconto</td>
            <td>
                Valor total do desconto repassado ao cliente para o pedido. Quando não houver desconto
                informar 0 (zero).<br/>
                <strong>Observação:</strong> Este campo é referente ao desconto unitário, devendo ser menor que o campo valorUnitário.
            </td>
            <td>DECIMAL</td>
            <td>9,2</td>
        </tr>
        <tr>
            <td>seguro</td>
            <td>Objeto seguro</td>
            <td><a href="#objeto-seguro">Seguro</a></td>
            <td>-</td>
        </tr>
        <tr>
            <td>garantia</td>
            <td>Objeto garantia</td>
            <td><a href="#objeto-garantia">Garantia</a></td>
            <td>-</td>
        </tr>
        <tr>
            <td>attachment</td>
            <td>Objeto attachment</td>
            <td><a href="#objeto-attachment">Attachment</a></td>
            <td>-</td>
        </tr>
        </tbody>
    </table>
</div>

<div class="panel subcat">
    <h3 id="objeto-seguro">Seguro</h3>
    <table class="table table-bordered table-striped table-condensed">
        <thead>
        <tr>
            <th>Campo</th>
            <th>Descrição</th>
            <th>Tipo</th>
            <th>Tamanho</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>seguroTabelaId</td>
            <td>Código do seguro</td>
            <td>INT</td>
            <td>30</td>
        </tr>
        <tr>
            <td>valorVenda</td>
            <td>Valor do seguro</td>
            <td>DECIMAL</td>
            <td>10,2</td>
        </tr>
        <tr>
            <td>valorParcelado</td>
            <td>Valor da venda dividido o número máximo de parcelamento</td>
            <td>DECIMAL</td>
            <td>10,2</td>
        </tr>
        <tr>
            <td>parcelamento</td>
            <td>Parcelamento máximo</td>
            <td>INT</td>
            <td>1</td>
        </tr>
        <tr>
            <td>familia</td>
            <td>Código da família</td>
            <td>INT</td>
            <td>1</td>
        </tr>
        </tbody>
    </table>
</div>

<div class="panel subcat">
    <h3 id="objeto-garantia">Garantia</h3>
    <table class="table table-bordered table-striped table-condensed">
        <thead>
        <tr>
            <th>Campo</th>
            <th>Descrição</th>
            <th>Tipo</th>
            <th>Tamanho</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>codigo</td>
            <td>Código da garantia</td>
            <td>INT</td>
            <td>30</td>
        </tr>
        <tr>
            <td>parcelamento</td>
            <td>Parcelamento máximo</td>
            <td>INT</td>
            <td>1</td>
        </tr>
        <tr>
            <td>prazo</td>
            <td>Tempo, em meses, de validade da garantia</td>
            <td>INT</td>
            <td>2</td>
        </tr>
        <tr>
            <td>valorVenda</td>
            <td>Valor do garantia</td>
            <td>DECIMAL</td>
            <td>10,2</td>
        </tr>
        <tr>
            <td>valorParcelado</td>
            <td>Valor da venda dividido o número máximo de parcelamento</td>
            <td>DECIMAL</td>
            <td>10,2</td>
        </tr>
        </tbody>
    </table>
</div>

<div class="panel subcat">
    <h3 id="objeto-attachment">Attachment</h3>
    <table class="table table-bordered table-striped table-condensed">
        <thead>
            <tr>
                <th>Campo</th>
                <th>Descrição</th>
                <th>Tipo</th>
                <th>Tamanho</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>type</td>
                <td>Tipo de label a ser utilizada</td>
                <td>INT</td>
                <td>30</td>
            </tr>
            <tr>
                <td>label</td>
                <td>Valor da label a ser impressa</td>
                <td>string</td>
                <td>30</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="panel subcat end">
    <h3 id="objeto-pagamento-cartao">Pagamento Cartões</h3>
    <table class="table table-bordered table-striped table-condensed">
        <thead>
        <tr>
            <th>Parâmetro</th>
            <th>Descrição</th>
            <th>Tipo</th>
            <th>Obrigatório</th>
            <th>Tamanho</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>meioPagamentoId</td>
            <td>
                Meio de pagamento no qual deverá ser creditado o pagamento do pedido<br />
                1 = Cartão de Crédito<br />
                9 = Cartão de Crédito Pago
            </td>
            <td>INT</td>
            <td>SIM</td>
            <td>1</td>
        </tr>
        <tr>
            <td>bandeiraId</td>
            <td>
                Este campo deverá ser informado quando o meioPagamentoId for igual a 1 (um)<br />
                1 = MasterCard<br/>
                2 = Visa<br/>
                3 = American Express<br/>
                4 = Dinners Club<br/>
                6 = HiperCard<br/>
                13 = ELO
            </td>
            <td>INT</td>
            <td>SIM</td>
            <td>2</td>
        </tr>
        <tr>
            <td>parcelas</td>
            <td>Quantidade parcelas do pedido. De 1 a 12</td>
            <td>INT</td>
            <td>SIM</td>
            <td>2</td>
        </tr>
        <tr>
            <td>cartaoNumero</td>
            <td>Número do cartão de crédito do cliente. Somente números.</td>
            <td>STRING</td>
            <td>SIM</td>
            <td>19</td>
        </tr>
        <tr>
            <td>cartaoValidade</td>
            <td>Data de validade do cartão. Formato: mm/yyyy.</td>
            <td>CHAR</td>
            <td>SIM</td>
            <td>7</td>
        </tr>
        <tr>
            <td>cartaoCodSeguranca</td>
            <td>
                Código de segurança.
                <b>Opcional apenas para meio de pagamento 9</b>
            </td>
            <td>STRING</td>
            <td>SIM</td>
            <td>5</td>
        </tr>
        <tr>
            <td>cartaoNomePortador</td>
            <td>
                Nome do titular do cartão.
            </td>
            <td>STRING</td>
            <td>SIM</td>
            <td>30</td>
        </tr>
        <tr>
            <td>valorPago</td>
            <td>Valor pago no cartão. Deve ser maior que 0 (zero).</td>
            <td>DECIMAL</td>
            <td>SIM</td>
            <td>12,2</td>
        </tr>
        <tr>
            <td>percentualJuros</td>
            <td>Percentual de juros aplicado ao pagamento</td>
            <td>DECIMAL</td>
            <td>SIM</td>
            <td>3,2</td>
        </tr>
        <tr>
            <td>valorJuros</td>
            <td>Valor em Reais dos juros cobrados no pagamento</td>
            <td>DECIMAL</td>
            <td>SIM</td>
            <td>10,2</td>
        </tr>
        <tr>
            <td>sequencial</td>
            <td>Campo de controle da sequencia dos pagamentos do pedido. Iniciar em 1 e incrementar para os
                demais pagamentos do pedido
            </td>
            <td>INT</td>
            <td>SIM</td>
            <td>3</td>
        </tr>

        <tr>
            <td>nsu</td>
            <td>Campo <b>obrigatório apenas para meio de pagamento 9 - Cartão de Crédito Pago</b>, informa o número NSU do pedido
            </td>
            <td>INT</td>
            <td>Obrigatório apenas quando o <b>meioPagamentoId = 9</b></td>
            <td>11</td>
        </tr>

        <tr>
            <td>autorizacaoId</td>
            <td>Campo <b>obrigatório apenas para meio de pagamento 9 - Cartão de Crédito Pago</b>, informa o número da autorização do pagamento
            </td>
            <td>INT</td>
            <td>Obrigatório apenas quando o <b>meioPagamentoId = 9</b></td>
            <td>11</td>
        </tr>

        <tr>
            <td>dataAutorizacao</td>
            <td>Campo <b>obrigatório apenas para meio de pagamento 9 - Cartão de Crédito Pago</b>, <br />informa a data da autorização do pagamento formato yyyy-mm-dd hh:mm:ss. Ex.: 2016-04-13 13:52:10
            </td>
            <td>CHAR</td>
            <td>Obrigatório apenas quando o <b>meioPagamentoId = 9</b></td>
            <td>19</td>
        </tr>

        <tr>
            <td>dataCaptura</td>
            <td>Campo <b>Opcional apenas para meio de pagamento 9 - Cartão de Crédito Pago</b>, <br />informa a data da captura do pagamento no formato yyyy-mm-dd hh:mm:ss. Ex.: 2016-04-13 13:52:10
            </td>
            <td>CHAR</td>
            <td>Obrigatório apenas quando o <b>meioPagamentoId = 9</b></td>
            <td>19</td>
        </tr>

        <tr>
            <td>adquirente</td>
            <td>Campo <b>obrigatório apenas para meio de pagamento 9 - Cartão de Crédito Pago</b>, informa o adquirente do pagamento<br />
                1 = Cielo<br/>
                2 = Getnet<br/>
                3 = Braspag<br/>
                4 = Redecard<br/>
                5 = PayU
            </td>
            <td>INT</td>
            <td>Obrigatório apenas quando o <b>meioPagamentoId = 9</b></td>
            <td>2</td>
        </tr>

        </tbody>
    </table>
    <p>&nbsp;</p>
    <p class="alert alert-info">
        <b>***</b> Para o método de pagamento <b>Boleto Pago (meioPagamentoId = 7)</b>, é necessários informar também apenas os campos: valorPago, sequencial e parcelas.
    </p>
</div>

<div class="panel subcat end">
    <h3 id="objeto-pagamento-boleto">Pagamento Boleto</h3>
    <table class="table table-bordered table-striped table-condensed">
        <thead>
        <tr>
            <th>Parâmetro</th>
            <th>Descrição</th>
            <th>Tipo</th>
            <th>Obrigatório</th>
            <th>Tamanho</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>meioPagamentoId</td>
            <td>
                Meio de pagamento no qual deverá ser creditado o pagamento do pedido<br />
                2 = Boleto<br />
            </td>
            <td>INT</td>
            <td>SIM</td>
            <td>1</td>
        </tr>
        <tr>
            <td>parcelas</td>
            <td>Quantidade parcelas do pedido. FIXO = 1</td>
            <td>INT</td>
            <td>SIM</td>
            <td>2</td>
        </tr>
        <tr>
            <td>valorPago</td>
            <td>Valor pago no boleto. Deve ser maior que 0 (zero).</td>
            <td>DECIMAL</td>
            <td>SIM</td>
            <td>12,2</td>
        </tr>
        <tr>
            <td>sequencial</td>
            <td>Campo de controle da sequencia dos pagamentos do pedido. Iniciar em 1 e incrementar para os
                demais pagamentos do pedido
            </td>
            <td>INT</td>
            <td>SIM</td>
            <td>3</td>
        </tr>
        </tbody>
    </table>
</div>

<div class="panel subcat end">
    <h3 id="objeto-pagamento-boleto-pos">Pagamento Boleto Pós Pago</h3>
    <table class="table table-bordered table-striped table-condensed">
        <thead>
        <tr>
            <th>Parâmetro</th>
            <th>Descrição</th>
            <th>Tipo</th>
            <th>Obrigatório</th>
            <th>Tamanho</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>meioPagamentoId</td>
            <td>
                Meio de pagamento no qual deverá ser creditado o pagamento do pedido<br />
                7 = Boleto Pós Pago<br />
            </td>
            <td>INT</td>
            <td>SIM</td>
            <td>1</td>
        </tr>
        <tr>
            <td>parcelas</td>
            <td>Quantidade parcelas do pedido. FIXO = 1</td>
            <td>INT</td>
            <td>SIM</td>
            <td>2</td>
        </tr>
         <tr>
            <td>valorPago</td>
            <td>Valor pago no boleto pós pago. Deve ser maior que 0 (zero).</td>
            <td>DECIMAL</td>
            <td>SIM</td>
            <td>12,2</td>
        </tr>
        <tr>
            <td>sequencial</td>
            <td>Campo de controle da sequencia dos pagamentos do pedido. Iniciar em 1 e incrementar para os
                demais pagamentos do pedido
            </td>
            <td>INT</td>
            <td>SIM</td>
            <td>3</td>
        </tr>
        <tr>
            <td>tokenAutorizacao</td>
            <td>
                Campo de controle de acesso, enviar aqui o token informado pela MV.COM
            </td>
            <td>STRING</td>
            <td>SIM</td>
            <td>32</td>
        </tr>
        </tbody>
    </table>
</div>

<div class="panel subcat end">
    <h3 id="objeto-pagamento-pontos">Pagamento Pontos</h3>
    <table class="table table-bordered table-striped table-condensed">
        <thead>
        <tr>
            <th>Parâmetro</th>
            <th>Descrição</th>
            <th>Tipo</th>
            <th>Obrigatório</th>
            <th>Tamanho</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>meioPagamentoId</td>
            <td>
                Meio de pagamento no qual deverá ser creditado o pagamento do pedido<br />
                8 = Pagamento por Pontos<br />
            </td>
            <td>INT</td>
            <td>SIM</td>
            <td>1</td>
        </tr>
        <tr>
            <td>parcelas</td>
            <td>Quantidade parcelas do pedido. FIXO = 1</td>
            <td>INT</td>
            <td>SIM</td>
            <td>2</td>
        </tr>
        <tr>
            <td>valorPago</td>
            <td>Neste caso deve ser informado o valor 0 (Zero).</td>
            <td>DECIMAL</td>
            <td>SIM</td>
            <td>12,2</td>
        </tr>
        <tr>
            <td>sequencial</td>
            <td>Campo de controle da sequencia dos pagamentos do pedido. Iniciar em 1 e incrementar para os
                demais pagamentos do pedido
            </td>
            <td>INT</td>
            <td>SIM</td>
            <td>3</td>
        </tr>
        <tr>
            <td>pontos</td>
            <td>Campo de controle no qual deve ser informado a PONTUAÇÃO equivalente ao pagamento em reais (R$).
            </td>
            <td>INT</td>
            <td>SIM</td>
            <td>11</td>
        </tr>
        </tbody>
    </table>
</div>

<div class="panel subcat end">
    <h3 id="objeto-pagamento-boleto-terceiro">Pagamento Boleto Terceiro</h3>
    <table class="table table-bordered table-striped table-condensed">
        <thead>
        <tr>
            <th>Parâmetro</th>
            <th>Descrição</th>
            <th>Tipo</th>
            <th>Obrigatório</th>
            <th>Tamanho</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>meioPagamentoId</td>
            <td>
                Meio de pagamento no qual deverá ser creditado o pagamento do pedido<br />
                10 = Boleto Terceiro<br />
            </td>
            <td>INT</td>
            <td>SIM</td>
            <td>1</td>
        </tr>
        <tr>
            <td>parcelas</td>
            <td>Quantidade parcelas do pedido. FIXO = 1</td>
            <td>INT</td>
            <td>SIM</td>
            <td>2</td>
        </tr>
         <tr>
            <td>valorPago</td>
            <td>Valor do boleto. Deve ser maior que 0 (zero).</td>
            <td>DECIMAL</td>
            <td>SIM</td>
            <td>12,2</td>
        </tr>
        <tr>
            <td>sequencial</td>
            <td>Campo de controle da sequencia dos pagamentos do pedido. Iniciar em 1 e incrementar para os
                demais pagamentos do pedido
            </td>
            <td>INT</td>
            <td>SIM</td>
            <td>3</td>
        </tr>
        <tr>
            <td>tokenAutorizacao</td>
            <td>
                Campo de controle de acesso, enviar aqui o token informado pela MV.COM
            </td>
            <td>STRING</td>
            <td>SIM</td>
            <td>32</td>
        </tr>
        </tbody>
    </table>
</div>

<div class="panel subcat end">
    <h3 id="objeto-pagamento-boleto-payu">Pagamento Boleto PayU</h3>
    <table class="table table-bordered table-striped table-condensed">
        <thead>
        <tr>
            <th>Parâmetro</th>
            <th>Descrição</th>
            <th>Tipo</th>
            <th>Obrigatório</th>
            <th>Tamanho</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>meioPagamentoId</td>
            <td>
                Meio de pagamento no qual deverá ser creditado o pagamento do pedido<br />
                11 = Boleto PayU<br />
            </td>
            <td>INT</td>
            <td>SIM</td>
            <td>1</td>
        </tr>
        <tr>
            <td>parcelas</td>
            <td>Quantidade parcelas do pedido. FIXO = 1</td>
            <td>INT</td>
            <td>SIM</td>
            <td>2</td>
        </tr>
        <tr>
            <td>valorPago</td>
            <td>Valor pago no boleto pós pago. Deve ser maior que 0 (zero).</td>
            <td>DECIMAL</td>
            <td>SIM</td>
            <td>12,2</td>
        </tr>
        <tr>
            <td>sequencial</td>
            <td>Campo de controle da sequencia dos pagamentos do pedido. Iniciar em 1 e incrementar para os
                demais pagamentos do pedido
            </td>
            <td>INT</td>
            <td>SIM</td>
            <td>3</td>
        </tr>
        <tr>
            <td>dataVencimentoBoleto</td>
            <td>
                Deve ser informada a data do vencimento do boleto no padrão americano 2017-02-14.
            </td>
            <td>CHAR</td>
            <td>SIM</td>
            <td>10</td>
        </tr>
        <tr>
            <td>tokenAutorizacao</td>
            <td>
                Campo de controle de acesso, enviar aqui o token informado pela MV.COM
            </td>
            <td>STRING</td>
            <td>SIM</td>
            <td>32</td>
        </tr>
        </tbody>
    </table>
</div>

<div class="panel subcat">
    <h3 id="objeto-campanha">Campanha</h3>
    <table class="table table-bordered table-striped table-condensed">
        <thead>
        <tr>
            <th>Campo</th>
            <th>Descrição</th>
            <th>Tipo</th>
            <th>Tamanho</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>campanhaId</td>
            <td>Código da Campanha MV</td>
            <td>INT</td>
            <td>30</td>
        </tr>
        <tr>
            <td>campanha</td>
            <td>Nome da campanha</td>
            <td>String</td>
            <td>100</td>
        </tr>
        <tr>
            <td>tipoFrete</td>
            <td>
                1 = Frete Grátis (Todos os produtos da campanha terão frete grátis)<br />
                2 = Frete Região (As regiões informadas terão o mesmo valor de frete)<br />
                3 = Frete Site (O valor de frete será o mesmo cadastrado no Site para o item)<br />
                4 = Frete Ponderado (Opção de aplicação de desconto no frete por porcentagem (%).)<br />
            </td>
            <td>INT</td>
            <td>1</td>
        </tr>
        <tr>
            <td>desconto</td>
            <td>O percentual de desconto aplicado a todos os itens da campanha</td>
            <td>DECIMAL</td>
            <td>3,2</td>
        </tr>
        <tr>
            <td>fretePonderado</td>
            <td>O percentual de desconto aplicado no frete quando a o campo tipoFrete for igual a 4 (quatro).</td>
            <td>DECIMAL</td>
            <td>3,2</td>
        </tr>
        <tr>
            <td>statusCampanha</td>
            <td>Status da campanha. 0 = Inativo, 1 = Ativo</td>
            <td>INT</td>
            <td>1</td>
        </tr>
        <tr>
            <td>localidades</td>
            <td>
                Regiões que terão o mesmo valor de frete, quando a opção <strong>tipoFrete</strong> for igual a <strong>2</strong>
            </td>
            <td>OBJETO localidade</td>
            <td><a href="#objeto-localidade">Localidade</a></td>
        </tr>
        <tr>
            <td>catalogo</td>
            <td>
                Catálogo com os produtos vinculados a campanha
            </td>
            <td>OBJETO catalogo</td>
            <td><a href="#objeto-catalogo">Catálogo</a></td>
        </tr>
        </tbody>
    </table>
</div>

<div class="panel subcat">
    <h3 id="objeto-localidade">Localidade</h3>
    <table class="table table-bordered table-striped table-condensed">
        <thead>
        <tr>
            <th>Campo</th>
            <th>Descrição</th>
            <th>Tipo</th>
            <th>Tamanho</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>sigla</td>
            <td>Sigla da localidade</td>
            <td>STRING</td>
            <td>3</td>
        </tr>
        <tr>
            <td>cepInicio</td>
            <td>Cep inicial da localidade</td>
            <td>String</td>
            <td>8</td>
        </tr>
        <tr>
            <td>cepFim</td>
            <td>Cep final da localidade</td>
            <td>String</td>
            <td>8</td>
        </tr>
        <tr>
            <td>local</td>
            <td>Localidade</td>
            <td>String</td>
            <td>60</td>
        </tr>
        </tbody>
    </table>
</div>

<div class="panel subcat">
    <h3 id="objeto-catalogo">Catálogo</h3>
    <table class="table table-bordered table-striped table-condensed">
        <thead>
        <tr>
            <th>Campo</th>
            <th>Descrição</th>
            <th>Tipo</th>
            <th>Tamanho</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>catalogoId</td>
            <td>Código do catálogo na MV</td>
            <td>INT</td>
            <td>11</td>
        </tr>
        <tr>
            <td>catalogo</td>
            <td>Nome do Catálogo</td>
            <td>String</td>
            <td>50</td>
        </tr>
        <tr>
            <td>statusCatalogo</td>
            <td>Status do catálogo. 0 = Inativo, 1 = Ativo</td>
            <td>INT</td>
            <td>1</td>
        </tr>
        <tr>
            <td>categorias</td>
            <td>Categorias de itens em que os descontos serão aplicados.</td>
            <td>Objeto categorias</td>
            <td><a href="#objeto-categorias">Categoria</a></td>
        </tr>
        <tr>
            <td>produtos</td>
            <td>Categorias de itens em que os descontos serão aplicados.</td>
            <td>Objeto produto</td>
            <td>Produto []</td>
        </tr>
        </tbody>
    </table>
</div>

<div class="panel subcat">
    <h3 id="objeto-categorias">Categorias</h3>
    <table class="table table-bordered table-striped table-condensed">
        <thead>
        <tr>
            <th>Campo</th>
            <th>Descrição</th>
            <th>Tipo</th>
            <th>Tamanho</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>categoriaId</td>
            <td>Código da Categoria na MV</td>
            <td>INT</td>
            <td>11</td>
        </tr>
        <tr>
            <td>subCategoriaId</td>
            <td>Código da Sub Categoria na MV</td>
            <td>INT</td>
            <td>11</td>
        </tr>
        <tr>
            <td>lojaId</td>
            <td>Código da Loja na MV</td>
            <td>INT</td>
            <td>11</td>
        </tr>
        <tr>
            <td>valorDesconto</td>
            <td>Desconto que será aplicado na categoria.</td>
            <td>DECIMAL</td>
            <td>5,2</td>
        </tr>
        <tr>
            <td>categoria</td>
            <td>Nome da categoria.</td>
            <td>STRING</td>
            <td>45</td>
        </tr>
        <tr>
            <td>loja</td>
            <td>Nome da Loja.</td>
            <td>STRING</td>
            <td>45</td>
        </tr>
        <tr>
            <td>subCategoria</td>
            <td>Nome da Sub Categoria.</td>
            <td>STRING</td>
            <td>45</td>
        </tr>
        </tbody>
    </table>
</div>

