<!--SERVICE-->
<div class="service-title" id="servico-set-pedido">
    Serviço Pedido
</div>
<div class="service-comment">
    <p>O serviço pedido permite ao parceiro enviar o pedido para a Integração.</p>
    <p><a href="{{ httpHost }}/v2/pedido">{{ httpHost }}/v2/pedido</a></p>
</div>
<!--SERVICE END-->


<div class="panel subcat">
    <h5 id="metodo-set-pedido"><i class="glyphicon glyphicon-asterisk"></i> Enviar Pedido (HTTP POST)
    </h5>
    <p>
        Recebe o pedido que foi realizado no site do parceiro. Todos os parâmetros devem ser enviados, os que
        não são obrigatórios devem ser enviados como vazio. Os parâmetros enviados não devem conter caracteres
        especiais (aspas simples, aspas duplas, etc.).
    </p>
    <p>URL Serviço: <a href="{{ httpHost }}/v2/pedido">{{ httpHost }}/v2/pedido</a></p>
    <p><strong>Atenção:</strong> o header content-type deve ser "application/json"</p>
    <hr>
    <h4><i class="glyphicon glyphicon-asterisk"></i> Exemplo de input</h4>
    <pre class="code" lang="json">{% include "documentacao/v2/exemplos/setPedidoInput1.json" %}</pre>
    <hr>
    <h4><i class="glyphicon glyphicon-asterisk"></i> Parâmetros</h4>
    <table class="table table-bordered table-striped table-condensed">
        <thead>
        <tr>
            <th rowspan="2">Parâmetro</th>
            <th rowspan="2">Descrição</th>
            <th rowspan="2">Tipo</th>
            <th rowspan="2">Obrigatório</th>
            <th colspan="2">Tamanho</th>
        </tr>
        <tr>
            <th>Min</th>
            <th>Max</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>siteId</td>
            <td>Id do site do parceiro</td>
            <td>INT</td>
            <td>Sim</td>
            <td>1</td>
            <td>11</td>
        </tr>
        <tr>
            <td>parceiroId</td>
            <td>Id do parceiro</td>
            <td>INT</td>
            <td>Sim</td>
            <td>1</td>
            <td>11</td>
        </tr>
        <tr>
            <td>clienteEmail</td>
            <td>Email do cliente</td>
            <td>CHAR</td>
            <td>Sim</td>
            <td>5</td>
            <td>60</td>
        </tr>
        <tr>
            <td>clienteTipo</td>
            <td>Valores: pf ou pj</td>
            <td>ENUM</td>
            <td>Sim</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr>
            <td>clientePfNome</td>
            <td>Nome do cliente</td>
            <td>CHAR</td>
            <td>Cliente PF</td>
            <td>2</td>
            <td>30</td>
        </tr>
        <tr>
            <td>clientePfSobrenome</td>
            <td>Sobrenome do cliente</td>
            <td>CHAR</td>
            <td>Cliente PF</td>
            <td>2</td>
            <td>30</td>
        </tr>
        <tr>
            <td>clientePfCPF</td>
            <td>CPF do cliente (sem pontos e traço)</td>
            <td>CHAR</td>
            <td>Cliente PF</td>
            <td>11</td>
            <td>11</td>
        </tr>
        <tr>
            <td>clientePfDataNascimento</td>
            <td>Formato: yyyy-mm-dd. Ex.: {{ "now" | date("Y-m-d") }}</td>
            <td>CHAR</td>
            <td>Não</td>
            <td>10</td>
            <td>10</td>
        </tr>
        <tr>
            <td>clientePfSexo</td>
            <td>Valores: M ou F.</td>
            <td>ENUM</td>
            <td>Não</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr>
            <td>clientePjRazaoSocial</td>
            <td>Razão social do cliente</td>
            <td>CHAR</td>
            <td>Cliente PJ</td>
            <td>5</td>
            <td>100</td>
        </tr>
        <tr>
            <td>clientePjNomeFantasia</td>
            <td>Nome fantasia do cliente</td>
            <td>CHAR</td>
            <td>Cliente PJ</td>
            <td>5</td>
            <td>100</td>
        </tr>
        <tr>
            <td>clientePjCNPJ</td>
            <td>CNPJ do cliente (somente números)</td>
            <td>CHAR</td>
            <td>Cliente PJ</td>
            <td>11</td>
            <td>18</td>
        </tr>
        <tr>
            <td>clientePjIsento</td>
            <td>Valores: 0 = Não<br/>1 = Sim</td>
            <td>ENUM</td>
            <td>Cliente PJ</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr>
            <td>clientePjInscEstadual</td>
            <td>Inscrição estadual do cliente (somente números)</td>
            <td>CHAR</td>
            <td>Se ClientePjIsento = 0</td>
            <td>-</td>
            <td>14</td>
        </tr>
        <tr>
            <td>clientePjTelefone</td>
            <td>Telefone do cliente (somente números. Ex:3122223333)</td>
            <td>CHAR</td>
            <td>Cliente PJ</td>
            <td>10</td>
            <td>14</td>
        </tr>
        <tr>
            <td>clientePjRamoAtividade</td>
            <td>0-Não informado<br/>
                1-Artesanato<br/>
                2-Comércio Varejista<br/>
                3-Construção Civil<br/>
                4-Cultura e Entretenimento<br/>
                5-Serviços<br/>
                6-Tecnologia da Informação<br/>
                7-Turismo<br/>
                8-Têxtil e Confecções
            </td>
            <td>INT</td>
            <td>Cliente PJ</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr>
            <td>endEntregaTipo</td>
            <td>Valores: Residencial ou Comercial</td>
            <td>ENUM</td>
            <td>Sim</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr>
            <td>endEntregaDestinatario</td>
            <td>Destinatário do cliente</td>
            <td>CHAR</td>
            <td>Sim</td>
            <td>3</td>
            <td>100</td>
        </tr>
        <tr>
            <td>endEntregaCep</td>
            <td>Cep do cliente (somente números)</td>
            <td>INT</td>
            <td>Sim</td>
            <td>8</td>
            <td>8</td>
        </tr>
        <tr>
            <td>endEntregaEndereco</td>
            <td>Endereço do cliente</td>
            <td>CHAR</td>
            <td>Sim</td>
            <td>3</td>
            <td>100</td>
        </tr>
        <tr>
            <td>endEntregaNumero</td>
            <td>Número do logradouro</td>
            <td>INT</td>
            <td>Sim</td>
            <td>1</td>
            <td>11</td>
        </tr>
        <tr>
            <td>endEntregaComplemento</td>
            <td>Complemento do logradouro</td>
            <td>CHAR</td>
            <td>Não</td>
            <td>0</td>
            <td>45</td>
        </tr>
        <tr>
            <td>endEntregaBairro</td>
            <td>Bairro</td>
            <td>CHAR</td>
            <td>Sim</td>
            <td>2</td>
            <td>50</td>
        </tr>
        <tr>
            <td>endEntregaCidade</td>
            <td>Cidade</td>
            <td>CHAR</td>
            <td>Sim</td>
            <td>2</td>
            <td>50</td>
        </tr>
        <tr>
            <td>endEntregaEstado</td>
            <td>Sigla do Estado em maiúsculo. Ex.: MG</td>
            <td>CHAR</td>
            <td>Sim</td>
            <td>2</td>
            <td>2</td>
        </tr>
        <tr>
            <td>endEntregaTelefone1</td>
            <td>Telefone do cliente (somente números. Ex:3122223333)</td>
            <td>CHAR</td>
            <td>Sim</td>
            <td>9</td>
            <td>13</td>
        </tr>
        <tr>
            <td>endEntregaTelefone2</td>
            <td>Telefone do cliente (somente números. Ex:3122223333)</td>
            <td>CHAR</td>
            <td>Não</td>
            <td>9</td>
            <td>13</td>
        </tr>
        <tr>
            <td>endEntregaCelular</td>
            <td>Telefone do cliente (somente números. Ex:3122223333)</td>
            <td>CHAR</td>
            <td>Não</td>
            <td>9</td>
            <td>13</td>
        </tr>
        <tr>
            <td>endEntregaReferencia</td>
            <td>Ponto de referencia para o endereço</td>
            <td>CHAR</td>
            <td>Não</td>
            <td>0</td>
            <td>100</td>
        </tr>
        <tr>
            <td>endCobrancaTipo</td>
            <td>Valores: "Residencial" ou "Comercial"</td>
            <td>ENUM</td>
            <td>Sim</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr>
            <td>endCobrancaDestinatario</td>
            <td>Destinatário do cliente</td>
            <td>CHAR</td>
            <td>Sim</td>
            <td>3</td>
            <td>100</td>
        </tr>
        <tr>
            <td>endCobrancaCep</td>
            <td>Cep do cliente (somente números)</td>
            <td>INT</td>
            <td>Sim</td>
            <td>8</td>
            <td>8</td>
        </tr>
        <tr>
            <td>endCobrancaEndereco</td>
            <td>Endereço do cliente</td>
            <td>CHAR</td>
            <td>Sim</td>
            <td>3</td>
            <td>100</td>
        </tr>
        <tr>
            <td>endCobrancaNumero</td>
            <td>Número do logradouro</td>
            <td>INT</td>
            <td>Sim</td>
            <td>1</td>
            <td>11</td>
        </tr>
        <tr>
            <td>endCobrancaComplemento</td>
            <td>Complemento do logradouro</td>
            <td>CHAR</td>
            <td>Não</td>
            <td>0</td>
            <td>45</td>
        </tr>
        <tr>
            <td>endCobrancaBairro</td>
            <td>Bairro</td>
            <td>CHAR</td>
            <td>Sim</td>
            <td>2</td>
            <td>50</td>
        </tr>
        <tr>
            <td>endCobrancaCidade</td>
            <td>Cidade</td>
            <td>CHAR</td>
            <td>Sim</td>
            <td>2</td>
            <td>50</td>
        </tr>
        <tr>
            <td>endCobrancaEstado</td>
            <td>Sigla do Estado em maiúsculo. Ex.: MG</td>
            <td>CHAR</td>
            <td>Sim</td>
            <td>2</td>
            <td>2</td>
        </tr>
        <tr>
            <td>endCobrancaTelefone1</td>
            <td>Telefone do cliente (somente números. Ex:3122223333)</td>
            <td>CHAR</td>
            <td>Sim</td>
            <td>9</td>
            <td>13</td>
        </tr>
        <tr>
            <td>endCobrancaTelefone2</td>
            <td>Telefone do cliente (somente números. Ex:3122223333)</td>
            <td>CHAR</td>
            <td>Não</td>
            <td>9</td>
            <td>13</td>
        </tr>
        <tr>
            <td>endCobrancaCelular</td>
            <td>Telefone do cliente (somente números. Ex:3122223333)</td>
            <td>CHAR</td>
            <td>Não</td>
            <td>9</td>
            <td>13</td>
        </tr>
        <tr>
            <td>endCobrancaReferencia</td>
            <td>Ponto de referencia para o endereço</td>
            <td>CHAR</td>
            <td>Não</td>
            <td>0</td>
            <td>100</td>
        </tr>
        <tr>
            <td>parceiroPedidoId</td>
            <td>ID do pedido no sistema do parceiro</td>
            <td>CHAR</td>
            <td>Sim</td>
            <td>1</td>
            <td>25</td>
        </tr>
        <tr>
            <td>valorTotal</td>
            <td>
                Valor total do pedido.<br/>
                O campo "valorTotal" deverá ser calculado da seguinte forma:<br/>
                "<strong>valorTotal = valorTotalProdutos + valorTotalFrete + valorJuros - valorDescontos</strong>" onde considerar "<strong>valorDescontos</strong>" sendo
                a <strong>somatória "valorDesconto * quantidade" dos produtos</strong>.
            </td>
            <td>FLOAT</td>
            <td>Sim</td>
            <td>1,2</td>
            <td>12,2</td>
        </tr>
        <tr>
            <td>valorTotalFrete</td>
            <td>Valor total do frete para o pedido. Deve ser a somatória do frete de todos os produtos.</td>
            <td>FLOAT</td>
            <td>Sim</td>
            <td>1,2</td>
            <td>9,2</td>
        </tr>
        <tr>
            <td>valorTotalProdutos</td>
            <td>Somatória do valor total dos produtos do pedido</td>
            <td>FLOAT</td>
            <td>Sim</td>
            <td>1,2</td>
            <td>12,2</td>
        </tr>
        <tr>
            <td>valorJuros</td>
            <td>Valor dos juros do pedido</td>
            <td>FLOAT</td>
            <td>Não</td>
            <td>1,2</td>
            <td>9,2</td>
        </tr>
        <tr>
            <td>dataEntrega</td>
            <td>Data do agendamento. (Formato: yyyy-mm-dd) Valor Padrão: 0000-00-00.<br/>Exemplo.: {{ "now"
                |
                date("Y-m-d") }}
            </td>
            <td>CHAR</td>
            <td>Pedidos sem entrega agendada deve-se retirar os campos referentes ao serviço do XML ou usar
                os
                valores padrão.
            </td>
            <td>Não</td>
            <td>10</td>
        </tr>
        <tr>
            <td>turnoEntrega</td>
            <td>Turno do agendamento.<br/>
                Valor Turnos:<br/>
                1-> Manhã<br/>
                2-> Tarde<br/>
                3-> Noite<br/>
                Valor Padrão: 0
            </td>
            <td>INT</td>
            <td>Se o campo “dataEntrega” for preenchido este campo se torna obrigatório</td>
            <td>1</td>
            <td>1</td>
        </tr>
        <tr>
            <td>valorEntrega</td>
            <td>Mesmo valor do campo ValorTotalFrete Valor Padrão: 0.00</td>
            <td>FLOAT</td>
            <td>Se o campo “dataEntrega” for preenchido este campo se torna obrigatório</td>
            <td>1,2</td>
            <td>9,2</td>
        </tr>
        <tr>
            <td>vendedorToken</td>
            <td>Token do vendedor retornado pela interface getVendedor para vendas B2C</td>
            <td>STRING</td>
            <td>Não</td>
            <td>1</td>
            <td>60</td>
        </tr>
        <tr>
            <td>pedidoProduto</td>
            <td>Produtos do Pedido. Vide objeto <a href="#objeto-pedido-produto">PedidoProduto</a></td>
            <td><a href="#objeto-pedido-produto">PedidoProduto</a>[]</td>
            <td>Sim</td>
            <td>-</td>
            <td>-</td>
        </tr>
         <tr>
            <td>integradorId</td>
            <td>Código do Integrador da Unidade de Negócio</td>
            <td>INT</td>
            <td>Não</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr>
            <td>campanhaId</td>
            <td>Código da campanha fornecido pela Ricardo Eletro para distinção de pedidos em relatórios.</td>
            <td>INT</td>
            <td>Não</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr>
            <td>pagamento</td>
            <td>Dados de pagamento do pedido. Vide objetos: <br />
                <a href="#objeto-pagamento-cartao">Pagamento Cartão</a><br />
                <a href="#objeto-pagamento-boleto">Pagamento Boleto</a><br />
                <a href="#objeto-pagamento-boleto-pos">Pagamento Boleto Pós Pago</a><br />
                <a href="#objeto-pagamento-pontos">Pagamento Pontos</a><br />
                <a href="#objeto-pagamento-boleto-terceiro">Pagamento Boleto Terceiro</a><br />
                <a href="#objeto-pagamento-boleto-payu">Pagamento Boleto PayU</a><br />
            </td>
            <td>
                <a href="#objeto-pagamento-cartao">Pagamento Cartão</a>[]<br />
                <a href="#objeto-pagamento-boleto">Pagamento Boleto</a>[]<br />
                <a href="#objeto-pagamento-boleto-pos">Pagamento Boleto Pós Pago</a>[]<br />
                <a href="#objeto-pagamento-pontos">Pagamento Pontos</a>[]<br />
                <a href="#objeto-pagamento-boleto-terceiro">Pagamento Boleto Terceiro</a>[]<br />
                <a href="#objeto-pagamento-boleto-payu">Pagamento Boleto PayU</a>[]<br />
            </td>
            <td>Sim</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr>
            <td>prazoCd</td>
            <td>
                Prazo máximo de expedição do item pelo deposito. <br><br>
                <b>Obs.:</b> O prazoCd informado tem que ser <b>maior que 0 e menor igual a 30 dias</b> qualquer valor diferente desse será desconsiderado.<br>
                Caso não informado o valor:<br>
                <b>"prazoCd":""</b> <br>
                ou <br>
                <b>"prazoCd":"0"</b> <br>
                será considerado o prazo parametrizado no cadastro do estabelecimento expedidor do item.<br>
            </td>
            <td>INT</td>
            <td>Não</td>
            <td>-</td>
            <td>-</td>
        </tr>
        </tbody>
    </table>
    <hr>
    <h4><i class="glyphicon glyphicon-asterisk"></i> Retorno</h4>
    <p>Será retornado um objeto do tipo <a href="#objeto-rest-response">RestResponse</a> contendo o status
        de
        sucesso, os dados, uma mensagem (caso haja) e o código de retorno:</p>

    <h4><i class="glyphicon glyphicon-asterisk"></i> Attachments</h4>
    <p>
        Attachments são uma propriedade <b>opcional</b> que pode ser enviada no corpo do
        <a href="#objeto-pedido-produto">Objeto PedidoProduto</a>. Trata-se de um array onde em cada posição retornará
        um objeto com duas propriedades, são elas "Type" e "Label". A quantidade de objetos nesse array deve coincidir
        com o valor na propriedade "quantidade" do PedidoProduto ainda que todos os valores dos attachments sejam
        idênticos.
        <br /> <br />
        <b>Obs.:</b> Para itens que contém attachmets o limite não pode ultrapassar a quantidade configurada para o parceiro.
    </p>

</div>