<!--SERVICE-->
<div class="service-title" id="servico-set-pagamento">
    Serviço Pagamento de Boleto de Terceiro
</div>
<div class="service-comment">
    <p>O serviço pagamento permite ao parceiro enviar o status de pagamento de um boleto de terceiro para a Integração.</p>
    <p><a href="{{ httpHost }}/v2/statusPagamento">{{ httpHost }}/v2/statusPagamento</a></p>
</div>
<!--SERVICE END-->

<div class="panel subcat">
    <h5 id="metodo-set-pagamento"><i class="glyphicon glyphicon-asterisk"></i> Enviar Status Pagamento (HTTP POST)
    </h5>
    <p>
        Recebe o status de pagamento de um pedido que foi realizado no site do parceiro para o meio de pagamento Boleto Terceiro. 
        Todos os parâmetros devem ser enviados. Os parâmetros enviados não devem conter caracteres especiais (aspas simples, aspas duplas, etc.).
    </p>
    <p>URL Serviço: <a href="{{ httpHost }}/v2/statusPagamento?parceiroId=2&pedidoParceiroId=23122&statusPagamento=RP">{{ httpHost }}/v2/statusPagamento</a></p>
    <hr>
    <h4><i class="glyphicon glyphicon-asterisk"></i> Parâmetros</h4>
    <table class="table table-bordered table-striped table-condensed">
        <thead>
        <tr>
            <th rowspan="2">Parâmetro</th>
            <th rowspan="2">Descrição</th>
            <th rowspan="2">Tipo</th>
            <th rowspan="2">Obrigatório</th>
            <th colspan="2">Tamanho</th>
        </tr>
        <tr>
            <th>Min</th>
            <th>Max</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>parceiroId</td>
            <td>ID do parceiro</td>
            <td>INT</td>
            <td>Sim</td>
            <td>1</td>
            <td>11</td>
        </tr>
        <tr>
            <td>pedidoParceiroId</td>
            <td>ID do pedido no sistema do parceiro</td>
            <td>CHAR</td>
            <td>Sim</td>
            <td>1</td>
            <td>25</td>
        </tr>
        <tr>
            <td>statusPagamento</td>
            <td>Valores: AP (pagamento aprovado) ou RP (pagamento reprovado).</td>
            <td>ENUM</td>
            <td>Sim</td>
            <td>2</td>
            <td>2</td>
        </tr>

        </tbody>
    </table>
    <hr>
    <h4><i class="glyphicon glyphicon-asterisk"></i> Retorno</h4>
    <p>Será retornado um objeto do tipo <a href="#objeto-rest-response">RestResponse</a> contendo o status
        de
        sucesso, os dados, uma mensagem (caso haja) e o código de retorno.</p>
</div>