{% extends "dashboard/template.html" %}

{% block content %}
<div id="wrapper">
    {% include('dashboard/sidebar.html') %}
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel" id="administracao">
                        <h2>Administração</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}