<!-- Sidebar -->
<div id="sidebar-wrapper">
    <img src="/assets/img/mv-logo.png" class="logo"/>
    <ul class="sidebar-nav">
        <li><a href="/admin" class="active">Home</a></li>
        <li><a href="/admin/tarefas">Tarefas</a></li>
        <li><a href="/admin/pedido/erro">Pedidos com Erro</a></li>
        <li><a href="#!/" v-on:click="logout">Sair</a></li>
    </ul>
</div>
<!-- /#sidebar-wrapper -->