{% extends "dashboard/template.html" %}

{% block content %}
<div id="wrapper">
    {% include('dashboard/sidebar.html') %}
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel" id="introducao">
                        <h2>Tarefas</h2>
                        <table class="table table-condensed table-bordered">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Nome</th>
                                    <th>URL</th>
                                    <th>Dt. Próx. Execução</th>
                                    <th>Dt. Última Execução</th>
                                    <th>Ações</th>
                                </tr>
                            </thead>
                            <tbody>
                            <tr v-cloak v-for="tarefa in tarefas">
                                <td>{{ '{{ tarefa.tarefaId }}' }}</td>
                                <td>{{ '{{ tarefa.nome }}' }}</td>
                                <td>{{ '{{ tarefa.url }}' }}</td>
                                <td>{{ '{{ tarefa.dataProximaExecucao }}' }}</td>
                                <td>{{ '{{ tarefa.dataUltimaExecucao }}' }}</td>
                                <td><a href="#" class="btn btn-success">Executar Manual</a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block scripts %}
<script>
var app = new Vue({
    el: "#app",
    mixins: [loginMixin],
    data: {
        tarefas: []
    },
    methods: {
        buscarTarefas: function () {
            this.$http.get('/v2/tarefas')
                    .then(function (response) {
                        return response.json();
                    }, function (response) {
                        return response.json();
                    })
                    .then(function (response) {
                        this.$set('tarefas', response.data);
                    });
        }
    },
    ready: function () {
        this.buscarTarefas();
    }
})
</script>
{% endblock %}