<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}Máquina de Vendas{% endblock %}</title>

    <link rel="shortcut icon" href="/assets/img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/assets/img/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <link rel="stylesheet" href="/assets/css/sidemenu.css"/>
    <link rel="stylesheet" href="/assets/css/main.css"/>

    <link rel="stylesheet" href="/assets/css/lib/jquery.highlight.css">

    {% block css%}{% endblock %}
</head>
<body id="app">
{% block content %}{% endblock %}

<!-- Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Sua sessão expirou</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="well">
                            <div id="loginForm" novalidate="novalidate">
                                <div class="form-group">
                                    <label for="username" class="control-label">E-mail</label>
                                    <input type="text" class="form-control" id="username" name="username" v-model="loginEmail" value="williamokano@softbox.com.br" required="" title="Digite seu e-mail" placeholder="exemplo@ricardoeletro.com.br">
                                    <span class="help-block"></span>
                                </div>
                                <div class="form-group">
                                    <label for="password" class="control-label">Senha</label>
                                    <input type="password" class="form-control" id="password" name="password" v-model="loginSenha" value="123456" required="" title="Digite sua senha">
                                    <span class="help-block"></span>
                                </div>
                                <div class="alert alert-error bg-danger" v-if="loginErrorMessage">{{ '{{ loginErrorMessage }}' }}</div>
                                <button type="submit" class="btn btn-success btn-block" v-on:click="fazerLogin">Login</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="//code.jquery.com/jquery-2.2.0.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="/assets/js/lib/jquery.highlight.js"></script>
<script src="/assets/js/lib/softbox-code.js"></script>
<script src="/assets/js/lib/jwt-decode.min.js"></script>
<script src="/assets/js/lib/vue.js"></script>
<script src="/assets/js/lib/vue-resource.js"></script>
<script src="/assets/js/utils.js"></script>
<script src="/assets/js/dashboard/main.js"></script>

<script>
    function refreshAuthenticationToken() {
        return new Promise(function (resolve) {
            $('#loginModal').modal({keyboard: false, backdrop: 'static'});
            $('#loginModal').on('hidden.bs.modal', function () {
                resolve('');
            });
        });
    }

    function showPermissionDeniedBox() {
        $("#page-content-wrapper").html('<h1>Permissão negada</h1>');
    }

    Vue.http.interceptors.push(function (request, next) {


        next();
    });

    Vue.http.interceptors.push(function (request, next) {
        if (localStorage.getItem('access_token') !== null) {
            request.headers.Authorization = 'Bearer ' + localStorage.getItem('access_token');
        }

        next();
    });

    Vue.http.interceptors.push(function (request, next) {
        next(function (response) {

            if (response.status === 401) {
                return refreshAuthenticationToken().then(function () {
                    return Vue.http(request).then(function (data) {
                        return data;
                    });
                });
            }

            if (response.status === 403) {
                showPermissionDeniedBox();
                return response;
            }
        });
    });

    var loginMixin = {
        methods: {
            fazerLogin: function() {
                this.errorMessage = "";
                var loginResource = this.$resource('/access_token?email=' + encodeURIComponent(this.loginEmail) + '&senha=' + encodeURIComponent(this.loginSenha));
                loginResource.get().then(function (res) {
                    return res.json()
                }, function (error) {
                    var res = error.json();
                    this.loginErrorMessage = res.mensagem;
                    return res;
                }).then(function (response) {
                    if (response.success) {
                        localStorage.setItem('access_token', response.data.token);
                        $("#loginModal").modal('toggle');
                    } else {
                        this.errorMessage = response.mensagem;
                    }
                });
            },
            logout: function () {
                if (localStorage.getItem('access_token') !== null) {
                    var accessTokenResource = this.$resource('/invalidar_access_token');
                    accessTokenResource.delete().then(function (response) {
                        return response.json();
                    }).then(function (body) {
                        console.log(body);
                    });
                    localStorage.removeItem('access_token');
                }
                location.href = '/login';
            }
        },
        data: {
            loginErrorMessage: '',
            loginEmail: '',
            loginSenha: ''
        }
    }

</script>

{% block scripts %}
<script>
    var app = new Vue({
        el: "#app",
        mixins: [loginMixin],
        data: {

        },
        methods: {

        },
        ready: function () {

        }
    })
</script>
{% endblock %}
</body>
</html>