<table>
    <thead>
        <tr>
            <th>SKU MV</th>
            <th>SKU PCO</th>
            <th>QTD MV</th>
            <th>QTD PCO</th>
            <th>DIFF</th>
            <th>PROD. ID</th>
            <th>NOME</th>
        </tr>
    </thead>
    <tbody>
    {% for estoque in estoques %}
    <tr>
        <td>{{ estoque.codigo }}</td>
        <td>{{ estoque.skuParceiro }}</td>
        <td>{{ estoque.quantidadeMV }}</td>
        <td>{{ estoque.quantidadeParceiro }}</td>
        <td>{{ estoque.quantidadeMV - estoque.quantidadeParceiro }}</td>
        <td>{{ estoque.produtoId }}</td>
        <td>{{ estoque.nome }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>