{% extends "documentacao/v1/template.html" %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-navbar">
                <nav class="navbar navbar-default no-radius">
                    <div class="container-fluid">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                <span class="sr-only">Navegação</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="#">MANUAL WEB SERVICE INTEGRAÇÃO DE PARCEIROS</a>
                        </div>

                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse pull-right" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">
                                <li class="active"><a href="/manual">v1 <span class="sr-only">(current)</span></a></li>
                                <li><a href="/manual/v2">v2</a></li>
                            </ul>
                        </div><!-- /.navbar-collapse -->
                    </div><!-- /.container-fluid -->
                </nav>
            </div>
            <div class="panel" id="introducao">
                <h2>Introdução</h2>
                <hr>
                <p>O sistema de integração Maquina de Vendas tem com o objetivo disponibilizar interfaces de consulta e
                    inserção de informações aos sites da holding.</p>

                <p><strong>Sites disponíveis para integração:</strong></p>
                <table class="table table-bordered table-striped table-condensed">
                    <thead>
                    <tr>
                        <th>Site</th>
                        <th>Endereço</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Ricardo Eletro</td>
                        <td><a href="http://www.ricardoeletro.com.br">http://www.ricardoeletro.com.br</a></td>
                    </tr>
                    <tr>
                        <td>Insinuante</td>
                        <td><a href="http://www.insinuante.com.br">http://www.insinuante.com.br</a></td>
                    </tr>
                    <tr>
                        <td>City Lar</td>
                        <td><a href="http://www.citylar.com.br">http://www.citylar.com.br</a></td>
                    </tr>
                    <tr>
                        <td>Salfer</td>
                        <td><a href="http://www.salfer.com.br">http://www.salfer.com.br</a></td>
                    </tr>
                    <tr>
                        <td>Eletro Shopping</td>
                        <td><a href="http://www.eletroshopping.com.br">http://www.eletroshopping.com.br</a></td>
                    </tr>
                    <tr>
                        <td>Cipela Calçados</td>
                        <td><a href="http://www.cipela.com.br">http://www.cipela.com.br</a></td>
                    </tr>
                    <tr>
                        <td>E-Colchão</td>
                        <td><a href="http://www.ecolchao.com.br">http://www.ecolchao.com.br</a></td>
                    </tr>
                    <tr>
                        <td>Tricolor Eletro</td>
                        <td><a href="http://www.tricoloreletro.com.br">http://www.tricoloreletro.com.br</a></td>
                    </tr>
                    <tr>
                        <td>Grêmio Eletro</td>
                        <td><a href="http://www.gremioeletro.com.br">http://www.gremioeletro.com.br</a></td>
                    </tr>
                    <tr>
                        <td>Loja Física RE</td>
                        <td><a href="http://www.lfricardoeletro.com.br">http://www.lfricardoeletro.com.br</a></td>
                    </tr>
                    <tr>
                        <td>Loja Física CL</td>
                        <td><a href="http://www.lfcitylar.com.br">http://www.lfcitylar.com.br</a></td>
                    </tr>
                    </tbody>
                </table>
                <hr>
                <p>Para que o parceiro tenha acesso ao sistema de integração, é necessária a informação dos seguintes
                    dados
                    para cadastro no sistema:</p>
                <hr>
                <table class="table table-bordered table-striped table-condensed">
                    <thead>
                    <tr>
                        <th>Parâmetro</th>
                        <th>Descrição</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Nome do parceiro</td>
                        <td>Nome da empresa responsável pelo site que irá utilizar o webservice</td>
                    </tr>
                    <tr>
                        <td>Nome do site</td>
                        <td>Site que irá utilizar o webservice</td>
                    </tr>
                    <tr>
                        <td>IP do Site</td>
                        <td>IP(s) de saída do(s) servidor(es) do site</td>
                    </tr>
                    <tr>
                        <td>Site de origem</td>
                        <td>Site do qual será consultado os produtos. Ex.: Ricardo Eletro, Insinuante, etc.</td>
                    </tr>
                    <tr>
                        <td>Filtros de produtos</td>
                        <td>Lista de Categorias e/ou Fabricante dos produtos que o Site de origem terá acesso.</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="panel cat" id="servicos">
                <h2>Serviços</h2>
                <hr>
                <p>Os serviços da Máquina de Vendas se dividem entre chamadas Soap e restful, portanto separamos,
                    por tipo de serviço, os métodos disponíveis em nossa API.</p>
            </div>
            <div class="panel subcat" id="soap">
                <h3>Soap</h3>
                <p>Segundo a <a href="https://pt.wikipedia.org/wiki/Web_service#SOAP">Wikipedia</a>, o SOAP (Simple
                    Object
                    Access Protocol) baseia-se numa invocação
                    remota de um método e para tal necessita especificar o endereço do componente, o nome do método e os
                    argumentos para esse método. Estes dados são formatados em XML com determinadas regras e enviados
                    normalmente por HTTP para esse componente.</p>
            </div>
            <!--SERVICE-->
            <div class="service-title" id="servico-consulta">
                Serviço Consulta
            </div>
            <div class="service-comment">
                <p>O serviço de consulta permite aos parceiros realizar consultas de estoque, frete, produto e
                    vendedor.</p>
                <p>URL WSDL: <a href="{{ httpHost }}/ws/Consulta/?wsdl"
                                target="_blank">{{ httpHost }}/ws/Consulta/?wsdl</a></p>
            </div>
            <!--SERVICE END-->
            <div class="panel subcat">

                <h5 id="metodo-get-estoque"><i class="glyphicon glyphicon-asterisk"></i> Método getEstoque</h5>
                <p>Retorna os dados de Estoque de acordo com os parâmetros enviados. Se for enviado um Código de
                    Produto,
                    então será retornada a informação de estoque somente daquele produto. Caso contrário serão
                    retornadas
                    informações de estoque de todos os produtos.</p>

                <p>O retorno será um objeto do tipo <a href="#objeto-dados-out">DadosOut</a>.</p>

                <h4><i class="glyphicon glyphicon-asterisk"></i> Parâmetros</h4>
                <table class="table table-bordered table-striped table-condensed">
                    <thead>
                    <tr>
                        <th rowspan="2">Parâmetro</th>
                        <th rowspan="2">Descrição</th>
                        <th rowspan="2">Tipo</th>
                        <th rowspan="2">Obrigatório</th>
                        <th colspan="2">Tamanho</th>
                    </tr>
                    <tr>
                        <th>Min</th>
                        <th>Max</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>ParceiroId</td>
                        <td>Identificador do Parceiro</td>
                        <td>INT</td>
                        <td>Sim</td>
                        <td>1</td>
                        <td>99</td>
                    </tr>
                    <tr>
                        <td>CodigoProduto</td>
                        <td>Código do produto. Se for enviado como NULL serão retornados todos os produtos.</td>
                        <td>CHAR</td>
                        <td>Sim</td>
                        <td>1</td>
                        <td>60</td>
                    </tr>
                    </tbody>
                </table>

                <h4><i class="glyphicon glyphicon-asterisk"></i> Retorno</h4>
                <p>Será retornado um objeto do tipo <a href="#objeto-dados-out">DadosOut</a>.<br/>
                    No campo “Dados” será retornado uma string no formato JSON com o seguinte formato:</p>

                <pre class="code" lang="json">{% include "documentacao/v1/exemplos/getEstoqueExemplo1.json" %}</pre>
                <p><strong>OBS.:</strong> Esse serviço possui um cache de informação. Para consulta completa da base de
                    produtos o cache é de 24 horas, ou seja, é atualizada somente 1 consulta completa por dia. Para
                    consultas pontuais (por produto) o cache é de 1 minuto.</p>
            </div>
            <div class="panel subcat" id="metodo-get-frete">
                <h5><i class="glyphicon glyphicon-asterisk"></i> Método getFrete</h5>
                <p>Retorna os dados de Frete de acordo com os parâmetros enviados.</p>
                <hr class="separator">
                <h4><i class="glyphicon glyphicon-asterisk"></i> Parâmetros</h4>
                <table class="table table-bordered table-striped table-condensed">
                    <thead>
                    <tr>
                        <th rowspan="2">Parâmetro</th>
                        <th rowspan="2">Descrição</th>
                        <th rowspan="2">Tipo</th>
                        <th rowspan="2">Obrigatório</th>
                        <th colspan="2">Tamanho</th>
                    </tr>
                    <tr>
                        <th>Min</th>
                        <th>Max</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>ParceiroId</td>
                        <td>Identificador do Parceiro</td>
                        <td>INT</td>
                        <td>Sim</td>
                        <td>1</td>
                        <td>99</td>
                    </tr>
                    <tr>
                        <td>Cep</td>
                        <td>Cep de destino (sem traço)</td>
                        <td>CHAR</td>
                        <td>Sim</td>
                        <td colspan="2">8</td>
                    </tr>
                    <tr>
                        <td>Produtos</td>
                        <td>Array de Itens</td>
                        <td><a href="#objeto-item">Item</a>[]</td>
                        <td>Sim</td>
                        <td colspan="2">8</td>
                    </tr>
                    </tbody>
                </table>
                <hr class="separator">
                <h4><i class="glyphicon glyphicon-asterisk"></i> Retorno</h4>
                <p>Será retornado um objeto do tipo <a href="#objeto-dados-out">DadosOut</a>.<br/>
                    No campo “Dados” será retornado uma string no formato JSON com o seguinte formato:</p>

                <pre class="code" lang="json">{% include "documentacao/v1/exemplos/getFreteExemplo1.json" %}</pre>
                <p><strong>OBS.:</strong> Esse serviço possui um cache de informação. Para consulta completa da base de
                    produtos o cache é de 24 horas, ou seja, é atualizada somente 1 consulta completa por dia. Para
                    consultas pontuais (por produto) o cache é de 1 minuto.</p>
            </div>
            <div class="panel subcat" id="metodo-get-produto">
                <h5><i class="glyphicon glyphicon-asterisk"></i> Método getProduto</h5>
                <p>Retorna os dados de Produtos de acordo com os parâmetros enviados. Se for enviado um Código de
                    Produto,
                    então será retornada a informação somente daquele produto. Caso contrário serão retornadas
                    informações
                    de todos os produtos.</p>
                <hr class="separator">
                <h4><i class="glyphicon glyphicon-asterisk"></i> Parâmetros</h4>
                <table class="table table-bordered table-striped table-condensed">
                    <thead>
                    <tr>
                        <th rowspan="2">Parâmetro</th>
                        <th rowspan="2">Descrição</th>
                        <th rowspan="2">Tipo</th>
                        <th rowspan="2">Obrigatório</th>
                        <th colspan="2">Tamanho</th>
                    </tr>
                    <tr>
                        <th>Min</th>
                        <th>Max</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>ParceiroId</td>
                        <td>Identificador do Parceiro</td>
                        <td>INT</td>
                        <td>Sim</td>
                        <td>1</td>
                        <td>99</td>
                    </tr>
                    <tr>
                        <td>SiteId</td>
                        <td>Identificador do Site (Conforme Tabela <a href="#tabela-site-ids">SiteId's</a>)</td>
                        <td>INT</td>
                        <td>Sim</td>
                        <td colspan="2">11</td>
                    </tr>
                    <tr>
                        <td>CodigoProduto</td>
                        <td>Código do produto. Se for enviado como NULL serão retornados todos os produtos.</td>
                        <td>CHAR</td>
                        <td>Não</td>
                        <td colspan="2">10</td>
                    </tr>
                    </tbody>
                </table>
                <hr class="separator">
                <h4><i class="glyphicon glyphicon-asterisk"></i> Retorno</h4>
                <p>Será retornado um objeto do tipo <a href="#objeto-dados-out">DadosOut</a>.<br/>
                    Se a consulta for completa, será retornado no campo “Dados” uma url para download do arquivo
                    compactado
                    com o JSON de produtos. Se a consulta for pontual já será retornado no campo “Dados” o JSON do
                    produto.</p>

                <pre class="code" lang="json">{% include "documentacao/v1/exemplos/getProdutoExemplo1.json" %}</pre>

                <p>OBS. Esse serviço possui um cache de informação. Para consulta completa da base de produtos o cache é
                    de
                    24 horas, ou seja, é atualizada somente 1 consulta completa por dia. Para consultas pontuais (por
                    produto) o cache é de 5 minutos.<br/>
                    *A consulta completa retorna todos os produtos que sofreram alteração nas últimas 48 horas.</p>
            </div>
            <div class="panel subcat" id="metodo-get-vendedor">
                <h5><i class="glyphicon glyphicon-asterisk"></i> Método getVendedor</h5>
                <p>Verifica se um determinado vendedor está cadastrado no sistema para realizar venda B2C. São
                    retornados os
                    dados do vendedor e um token de autenticação para ser utilizado posteriormente no envio do
                    pedido.</p>

                <p>O vendedor deverá estar cadastrado no sistema B2C da Máquina de Vendas.</p>
                <hr class="separator">
                <h4><i class="glyphicon glyphicon-asterisk"></i> Parâmetros</h4>
                <table class="table table-bordered table-striped table-condensed">
                    <thead>
                    <tr>
                        <th rowspan="2">Parâmetro</th>
                        <th rowspan="2">Descrição</th>
                        <th rowspan="2">Tipo</th>
                        <th rowspan="2">Obrigatório</th>
                        <th colspan="2">Tamanho</th>
                    </tr>
                    <tr>
                        <th>Min</th>
                        <th>Max</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>ParceiroId</td>
                        <td>Identificador do Parceiro</td>
                        <td>INT</td>
                        <td>Sim</td>
                        <td>1</td>
                        <td>99</td>
                    </tr>
                    <tr>
                        <td>Email do Vendedor</td>
                        <td>Email cadastrado do vendedor no sistema B2C da MV</td>
                        <td>CHAR</td>
                        <td>Sim</td>
                        <td colspan="2">60</td>
                    </tr>
                    <tr>
                        <td>Senha do Vendedor</td>
                        <td>Senha do vendedor no sistema B2C da MV</td>
                        <td>CHAR</td>
                        <td>Sim</td>
                        <td colspan="2">14</td>
                    </tr>
                    </tbody>
                </table>
                <hr class="separator">
                <h4><i class="glyphicon glyphicon-asterisk"></i> Retorno</h4>
                <p>Será retornado um objeto do tipo <a href="#objeto-dados-out">DadosOut</a>.<br/>
                    Será retornado no campo “Dados” um JSON contendo os dados do vendedor seguindo o formato apresentado
                    abaixo:</p>

                <pre class="code" lang="json">{% include "documentacao/v1/exemplos/getVendedorExemplo1.json" %}</pre>

            </div>
            <!--SERVICE-->
            <div class="service-title" id="servico-dados">
                Serviço Dados
            </div>
            <div class="service-comment">
                <p>O serviço de dados permite ao parceiro consultar as interfaces do site. O(s) método(s) fornecido(s)
                    são:
                    <strong><a href="#metodo-get-dados">getDados</a></strong></p>
            </div>
            <!--SERVICE END-->
            <div class="panel subcat">
                <h5 id="metodo-get-dados"><i class="glyphicon glyphicon-asterisk"></i> Método getDados</h5>
                <p>O método getDados do serviço Dados recupera informações sobre a interface selecionada.</p>
                <hr class="separator">
                <h4><i class="glyphicon glyphicon-asterisk"></i> Parâmetros</h4>
                <table class="table table-bordered table-striped table-condensed">
                    <thead>
                    <tr>
                        <th rowspan="2">Parâmetro</th>
                        <th rowspan="2">Descrição</th>
                        <th rowspan="2">Tipo</th>
                        <th rowspan="2">Obrigatório</th>
                        <th colspan="2">Tamanho</th>
                    </tr>
                    <tr>
                        <th>Min</th>
                        <th>Max</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>ParceiroId</td>
                        <td>Identificador do Parceiro</td>
                        <td>INT</td>
                        <td>Sim</td>
                        <td>1</td>
                        <td>11</td>
                    </tr>
                    <tr>
                        <td>SiteId</td>
                        <td>Id do site do parceiro informado pela equipe MV</td>
                        <td>INT</td>
                        <td>Sim</td>
                        <td>1</td>
                        <td>11</td>
                    </tr>
                    <tr>
                        <td>Interface</td>
                        <td>Tipo da interface (vide tabela <a href="#tabela-interfaces">Interfaces</a>)</td>
                        <td>INT</td>
                        <td>Sim</td>
                        <td>1</td>
                        <td>11</td>
                    </tr>
                    </tbody>
                </table>
                <hr class="separator">
                <h4><i class="glyphicon glyphicon-asterisk"></i> Retorno</h4>
                <p>Será retornado um objeto do tipo <a href="#objeto-dados-out">DadosOut</a>.<br/>
                    Será retornado no campo “Dados” um JSON contendo os dados do vendedor seguindo o formato apresentado
                    abaixo, variando de acordo com cada tipo de Interface solicitado:</p>

                <p><strong>Exemplo Interface 1</strong></p>
                <pre class="code" lang="json">{% include "documentacao/v1/exemplos/getDadosInterface1.json" %}</pre>
            </div>
            <!--SERVICE-->
            <div class="service-title" id="servico-interface-confirmacao">
                Serviço Interface Confirmação
            </div>
            <div class="service-comment">
                <p>O serviço de Interface Confirmação permite ao parceiro confirmar os dados recebidos via interface de
                    consulta.</p>
                <p>URL WSDL: <a href="{{ httpHost }}/ws/InterfaceConfirmacao/?wsdl">{{ httpHost
                    }}/ws/InterfaceConfirmacao/?wsdl</a>
                </p>
            </div>
            <!--SERVICE END-->

            <div class="panel subcat">
                <h5 id="metodo-set-interface-confirmacao"><i class="glyphicon glyphicon-asterisk"></i> Método
                    setInterfaceConfirmacao</h5>
                <hr class="separator">
                <h4><i class="glyphicon glyphicon-asterisk"></i> Parâmetros</h4>
                <table class="table table-bordered table-striped table-condensed">
                    <thead>
                    <tr>
                        <th rowspan="2">Parâmetro</th>
                        <th rowspan="2">Descrição</th>
                        <th rowspan="2">Tipo</th>
                        <th rowspan="2">Obrigatório</th>
                        <th colspan="2">Tamanho</th>
                    </tr>
                    <tr>
                        <th>Min</th>
                        <th>Max</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>InterfaceTipo</td>
                        <td>Identificador da interface a ser consultada</td>
                        <td>INT</td>
                        <td>Sim</td>
                        <td>1</td>
                        <td>11</td>
                    </tr>
                    <tr>
                        <td>ParceiroId</td>
                        <td>Identificador do Parceiro</td>
                        <td>INT</td>
                        <td>Sim</td>
                        <td>1</td>
                        <td>11</td>
                    </tr>
                    <tr>
                        <td>Site</td>
                        <td>Identificador do Site do Parceiro</td>
                        <td>INT</td>
                        <td>Sim</td>
                        <td>1</td>
                        <td>11</td>
                    </tr>
                    <tr>
                        <td>Confirmacao</td>
                        <td>Tipo de confirmação:<br/>
                            1 = OK<br/>
                            2 = Não OK (Recupera informação anterior)
                        </td>
                        <td>INT</td>
                        <td>Sim</td>
                        <td colspan="2">1</td>
                    </tr>
                    </tbody>
                </table>
                <hr class="separator">
                <h4><i class="glyphicon glyphicon-asterisk"></i> Retorno</h4>
                <p>Será retornado um objeto do tipo <a href="#objeto-dados-out">DadosOut</a> contendo o código e a
                    mensagem
                    da operação.</p>
            </div>
            <!--SERVICE-->
            <div class="service-title" id="servico-pedido">
                Serviço Pedido
            </div>

            <!--SERVICE END-->
            <div class="panel subcat">
                <h5 id="metodo-set-pedido"><i class="glyphicon glyphicon-asterisk"></i> Método setPedido</h5>
                <p>Recebe o pedido que foi realizado no site do parceiro. Todos os parâmetros devem ser enviados, os que
                    não
                    são obrigatórios devem ser enviados como vazio. Os parâmetros enviados não devem conter caracteres
                    especiais (aspas simples, aspas duplas, etc.).</p>
                <hr class="separator">
                <h4><i class="glyphicon glyphicon-asterisk"></i> Parâmetros</h4>
                <table class="table table-bordered table-striped table-condensed">
                    <thead>
                    <tr>
                        <th rowspan="2">Parâmetro</th>
                        <th rowspan="2">Descrição</th>
                        <th rowspan="2">Tipo</th>
                        <th rowspan="2">Obrigatório</th>
                        <th colspan="2">Tamanho</th>
                    </tr>
                    <tr>
                        <th>Min</th>
                        <th>Max</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>SiteId</td>
                        <td>Id do site do parceiro</td>
                        <td>INT</td>
                        <td>Sim</td>
                        <td>1</td>
                        <td>11</td>
                    </tr>
                    <tr>
                        <td>ParceiroId</td>
                        <td>Id do parceiro</td>
                        <td>INT</td>
                        <td>Sim</td>
                        <td>1</td>
                        <td>11</td>
                    </tr>
                    <tr>
                        <td>ClienteEmail</td>
                        <td>Email do cliente</td>
                        <td>CHAR</td>
                        <td>Sim</td>
                        <td>5</td>
                        <td>60</td>
                    </tr>
                    <tr>
                        <td>ClienteTipo</td>
                        <td>Valores: pf ou pj</td>
                        <td>ENUM</td>
                        <td>Sim</td>
                        <td>-</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td>ClientePfNome</td>
                        <td>Nome do cliente</td>
                        <td>CHAR</td>
                        <td>Cliente PF</td>
                        <td>3</td>
                        <td>30</td>
                    </tr>
                    <tr>
                        <td>ClientePfSobrenome</td>
                        <td>Sobrenome do cliente</td>
                        <td>CHAR</td>
                        <td>Cliente PF</td>
                        <td>3</td>
                        <td>30</td>
                    </tr>
                    <tr>
                        <td>ClientePfCPF</td>
                        <td>CPF do cliente (sem pontos e traço)</td>
                        <td>CHAR</td>
                        <td>Cliente PF</td>
                        <td>11</td>
                        <td>11</td>
                    </tr>
                    <tr>
                        <td>ClientePfDataNascimento</td>
                        <td>Formato: yyyy-mm-dd. Ex.: {{ "now" | date("Y-m-d") }}</td>
                        <td>CHAR</td>
                        <td>Não</td>
                        <td>10</td>
                        <td>10</td>
                    </tr>
                    <tr>
                        <td>ClientePfSexo</td>
                        <td>Valores: M ou F.</td>
                        <td>ENUM</td>
                        <td>Não</td>
                        <td>-</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td>ClientePjRazaoSocial</td>
                        <td>Razão social do cliente</td>
                        <td>CHAR</td>
                        <td>Cliente PJ</td>
                        <td>5</td>
                        <td>100</td>
                    </tr>
                    <tr>
                        <td>ClientePjNomeFantasia</td>
                        <td>Nome fantasia do cliente</td>
                        <td>CHAR</td>
                        <td>Cliente PJ</td>
                        <td>5</td>
                        <td>100</td>
                    </tr>
                    <tr>
                        <td>ClientePjCNPJ</td>
                        <td>CNPJ do cliente (somente números)</td>
                        <td>CHAR</td>
                        <td>Cliente PJ</td>
                        <td>11</td>
                        <td>18</td>
                    </tr>
                    <tr>
                        <td>ClientePjIsento</td>
                        <td>Valores: 0 = Não<br/>1 = Sim</td>
                        <td>ENUM</td>
                        <td>Cliente PJ</td>
                        <td>-</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td>ClientePjInscEstadual</td>
                        <td>Inscrição estadual do cliente</td>
                        <td>CHAR</td>
                        <td>Se ClientePjIsento = 1</td>
                        <td>-</td>
                        <td>14</td>
                    </tr>
                    <tr>
                        <td>ClientePjTelefone</td>
                        <td>Telefone do cliente (somente números. Ex:3122223333)</td>
                        <td>CHAR</td>
                        <td>Cliente PJ</td>
                        <td>10</td>
                        <td>14</td>
                    </tr>
                    <tr>
                        <td>ClientePjRamoAtividade</td>
                        <td>0-Não informado<br/>
                            1-Artesanato<br/>
                            2-Comércio Varejista<br/>
                            3-Construção Civil<br/>
                            4-Cultura e Entretenimento<br/>
                            5-Serviços<br/>
                            6-Tecnologia da Informação<br/>
                            7-Turismo<br/>
                            8-Têxtil e Confecções
                        </td>
                        <td>INT</td>
                        <td>Cliente PJ</td>
                        <td>-</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td>EndEntregaTipo</td>
                        <td>Valores: Residencial ou Comercial</td>
                        <td>ENUM</td>
                        <td>Sim</td>
                        <td>-</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td>EndEntregaDestinatario</td>
                        <td>Destinatário do cliente</td>
                        <td>CHAR</td>
                        <td>Sim</td>
                        <td>3</td>
                        <td>100</td>
                    </tr>
                    <tr>
                        <td>EndEntregaCep</td>
                        <td>Cep do cliente (somente números)</td>
                        <td>CHAR</td>
                        <td>Sim</td>
                        <td>8</td>
                        <td>8</td>
                    </tr>
                    <tr>
                        <td>EndEntregaEndereco</td>
                        <td>Endereço do cliente</td>
                        <td>CHAR</td>
                        <td>Sim</td>
                        <td>3</td>
                        <td>100</td>
                    </tr>
                    <tr>
                        <td>EndEntregaNumero</td>
                        <td>Número do logradouro</td>
                        <td>INT</td>
                        <td>Sim</td>
                        <td>1</td>
                        <td>11</td>
                    </tr>
                    <tr>
                        <td>EndEntregaComplemento</td>
                        <td>Complemento do logradouro</td>
                        <td>CHAR</td>
                        <td>Não</td>
                        <td>0</td>
                        <td>45</td>
                    </tr>
                    <tr>
                        <td>EndEntregaBairro</td>
                        <td>Bairro</td>
                        <td>CHAR</td>
                        <td>Sim</td>
                        <td>2</td>
                        <td>50</td>
                    </tr>
                    <tr>
                        <td>EndEntregaCidade</td>
                        <td>Cidade</td>
                        <td>CHAR</td>
                        <td>Sim</td>
                        <td>2</td>
                        <td>50</td>
                    </tr>
                    <tr>
                        <td>EndEntregaEstado</td>
                        <td>Sigla do Estado em maiúsculo. Ex.: MG</td>
                        <td>CHAR</td>
                        <td>Sim</td>
                        <td>2</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td>EndEntregaTelefone1</td>
                        <td>Telefone do cliente (somente números. Ex:3122223333)</td>
                        <td>CHAR</td>
                        <td>Sim</td>
                        <td>9</td>
                        <td>13</td>
                    </tr>
                    <tr>
                        <td>EndEntregaTelefone2</td>
                        <td>Telefone do cliente (somente números. Ex:3122223333)</td>
                        <td>CHAR</td>
                        <td>Não</td>
                        <td>9</td>
                        <td>13</td>
                    </tr>
                    <tr>
                        <td>EndEntregaCelular</td>
                        <td>Telefone do cliente (somente números. Ex:3122223333)</td>
                        <td>CHAR</td>
                        <td>Não</td>
                        <td>9</td>
                        <td>13</td>
                    </tr>
                    <tr>
                        <td>EndEntregaReferencia</td>
                        <td>Ponto de referencia para o endereço</td>
                        <td>CHAR</td>
                        <td>Não</td>
                        <td>0</td>
                        <td>100</td>
                    </tr>
                    <tr>
                        <td>EndCobrancaTipo</td>
                        <td>Valores: "Residencial" ou "Comercial"</td>
                        <td>ENUM</td>
                        <td>Sim</td>
                        <td>-</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td>EndCobrancaDestinatario</td>
                        <td>Destinatário do cliente</td>
                        <td>CHAR</td>
                        <td>Sim</td>
                        <td>3</td>
                        <td>100</td>
                    </tr>
                    <tr>
                        <td>EndCobrancaCep</td>
                        <td>Cep do cliente (somente números)</td>
                        <td>CHAR</td>
                        <td>Sim</td>
                        <td>8</td>
                        <td>8</td>
                    </tr>
                    <tr>
                        <td>EndCobrancaEndereco</td>
                        <td>Endereço do cliente</td>
                        <td>CHAR</td>
                        <td>Sim</td>
                        <td>3</td>
                        <td>100</td>
                    </tr>
                    <tr>
                        <td>EndCobrancaNumero</td>
                        <td>Número do logradouro</td>
                        <td>INT</td>
                        <td>Sim</td>
                        <td>1</td>
                        <td>11</td>
                    </tr>
                    <tr>
                        <td>EndCobrancaComplemento</td>
                        <td>Complemento do logradouro</td>
                        <td>CHAR</td>
                        <td>Não</td>
                        <td>0</td>
                        <td>45</td>
                    </tr>
                    <tr>
                        <td>EndCobrancaBairro</td>
                        <td>Bairro</td>
                        <td>CHAR</td>
                        <td>Sim</td>
                        <td>2</td>
                        <td>50</td>
                    </tr>
                    <tr>
                        <td>EndCobrancaCidade</td>
                        <td>Cidade</td>
                        <td>CHAR</td>
                        <td>Sim</td>
                        <td>2</td>
                        <td>50</td>
                    </tr>
                    <tr>
                        <td>EndCobrancaEstado</td>
                        <td>Sigla do Estado em maiúsculo. Ex.: MG</td>
                        <td>CHAR</td>
                        <td>Sim</td>
                        <td>2</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td>EndCobrancaTelefone1</td>
                        <td>Telefone do cliente (somente números. Ex:3122223333)</td>
                        <td>CHAR</td>
                        <td>Sim</td>
                        <td>9</td>
                        <td>13</td>
                    </tr>
                    <tr>
                        <td>EndCobrancaTelefone2</td>
                        <td>Telefone do cliente (somente números. Ex:3122223333)</td>
                        <td>CHAR</td>
                        <td>Não</td>
                        <td>9</td>
                        <td>13</td>
                    </tr>
                    <tr>
                        <td>EndCobrancaCelular</td>
                        <td>Telefone do cliente (somente números. Ex:3122223333)</td>
                        <td>CHAR</td>
                        <td>Não</td>
                        <td>9</td>
                        <td>13</td>
                    </tr>
                    <tr>
                        <td>EndCobrancaReferencia</td>
                        <td>Ponto de referencia para o endereço</td>
                        <td>CHAR</td>
                        <td>Não</td>
                        <td>0</td>
                        <td>100</td>
                    </tr>
                    <tr>
                        <td>ParceiroPedidoId</td>
                        <td>ID do pedido no sistema do parceiro</td>
                        <td>CHAR</td>
                        <td>Sim</td>
                        <td>1</td>
                        <td>11</td>
                    </tr>
                    <tr>
                        <td>ValorTotal</td>
                        <td>Valor total do pedido</td>
                        <td>FLOAT</td>
                        <td>Sim</td>
                        <td>1,2</td>
                        <td>12,2</td>
                    </tr>
                    <tr>
                        <td>ValorTotalFrete</td>
                        <td>Valor total do frete para o pedido</td>
                        <td>FLOAT</td>
                        <td>Sim</td>
                        <td>1,2</td>
                        <td>9,2</td>
                    </tr>
                    <tr>
                        <td>ValorTotalProdutos</td>
                        <td>Somatório do valor total dos produtos do pedido</td>
                        <td>FLOAT</td>
                        <td>Sim</td>
                        <td>1,2</td>
                        <td>12,2</td>
                    </tr>
                    <tr>
                        <td>ValorJuros</td>
                        <td>Valor dos juros do pedido</td>
                        <td>FLOAT</td>
                        <td>Não</td>
                        <td>1,2</td>
                        <td>9,2</td>
                    </tr>
                    <tr>
                        <td>DataEntrega</td>
                        <td>Data do agendamento. (Formato: yyyy-mm-dd) Valor Padrão: 0000-00-00.<br/>Exemplo.: {{ "now"
                            |
                            date("Y-m-d") }}
                        </td>
                        <td>CHAR</td>
                        <td>Pedidos sem entrega agendada deve-se retirar os campos referentes ao serviço do XML ou usar
                            os
                            valores padrão.
                        </td>
                        <td>Não</td>
                        <td>10</td>
                    </tr>
                    <tr>
                        <td>TurnoEntrega</td>
                        <td>Turno do agendamento.<br/>
                            Valor Turnos:<br/>
                            1-> Manhã<br/>
                            2-> Tarde<br/>
                            3-> Noite<br/>
                            Valor Padrão: 0
                        </td>
                        <td>INT</td>
                        <td>Se o campo “DataEntrega” for preenchido este campo se torna obrigatório</td>
                        <td>1</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>ValorEntrega</td>
                        <td>Mesmo valor do campo ValorTotalFrete Valor Padrão: 0.00</td>
                        <td>FLOAT</td>
                        <td>Se o campo “DataEntrega” for preenchido este campo se torna obrigatório</td>
                        <td>1,2</td>
                        <td>9,2</td>
                    </tr>
                    <tr>
                        <td>VendedorToken</td>
                        <td>Token do vendedor retornado pela interface getVendedor para vendas B2C</td>
                        <td>STRING</td>
                        <td>Não</td>
                        <td>1</td>
                        <td>60</td>
                    </tr>
                    <tr>
                        <td>PedidoProduto</td>
                        <td>Produtos do Pedido. Vide objeto <a href="#objeto-pedido-produto">PedidoProduto</a></td>
                        <td><a href="#objeto-pedido-produto">PedidoProduto</a>[]</td>
                        <td>Sim</td>
                        <td>-</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td>Pagamento</td>
                        <td>Dados de pagamento do pedido. Vide objeto <a href="#objeto-pagamento">Pagamento</a></td>
                        <td><a href="#objeto-pagamento">Pagamento</a>[]</td>
                        <td>Sim</td>
                        <td>-</td>
                        <td>-</td>
                    </tr>
                    </tbody>
                </table>
                <hr class="separator">
                <h4><i class="glyphicon glyphicon-asterisk"></i> Retorno</h4>
                <p>Será retornado um objeto do tipo <a href="#objeto-dados-out">DadosOut</a> contendo o código e a
                    mensagem
                    da operação seguindo a tabela abaixo:</p>

                <table class="table table-bordered table-striped table-condensed">
                    <thead>
                    <tr>
                        <th>Codigo</th>
                        <th>Mensagem</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>0</td>
                        <td>Pedido importado com sucesso</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Erro: Dados de acesso do parceiro invalido - Verificar SiteId e ParceiroId se estao corretos
                        </td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Erro: Estoque Indisponivel - Nao existe estoque disponivel para venda no SIGE</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Erro: Cliente sem permissao para a Interface - Entre em contato com a MV e solicitar
                            liberacao
                            ao sistema
                        </td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Erro: Produto nao cadastrado ou nao esta liberado para venda pela integracao do sistema</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>Erro: Erro na gravacao do Pedido - Entrar em contato com o Administrador da integracao MV
                        </td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>Erro: Valor total dos produtos inconsistente - Total de produtos diferente da soma total de
                            produtos
                        </td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td>Erro: Valor total do produto inconsistente - Valor total do produto diferente da quantidade
                            X o
                            valor unitario
                        </td>
                    </tr>
                    <tr>
                        <td>8</td>
                        <td>Erro: Sequencial do Pedido_Produto invalido - Verificar o valor de sequencial enviado</td>
                    </tr>
                    <tr>
                        <td>9</td>
                        <td>Erro: Sequencial do Pagamento invalido - Verificar o valor de sequencial enviado</td>
                    </tr>
                    <tr>
                        <td>10</td>
                        <td>Erro: Falha na gravacao do Pedido - Entrar em contato com o Administrador da integracao MV
                        </td>
                    </tr>
                    <tr>
                        <td>11</td>
                        <td>Erro: Falha na gravacao do Produto - Entrar em contato com o Administrador da integracao
                            MV
                        </td>
                    </tr>
                    <tr>
                        <td>12</td>
                        <td>Erro: Meio de pagamento invalido - MeioPagamentoId diferente de 1</td>
                    </tr>
                    <tr>
                        <td>13</td>
                        <td>Erro: Valor total pago difere do valor total do pedido</td>
                    </tr>
                    <tr>
                        <td>14</td>
                        <td>Erro: Erro ao gravar pagamento - Entrar em contato com o Administrador da integracao MV</td>
                    </tr>
                    <tr>
                        <td>15</td>
                        <td>Erro: Erro de interface, o parceiro nao possui permissao para Importacao de Pedido</td>
                    </tr>
                    <tr>
                        <td>16</td>
                        <td>Erro: Erro de interface, a confirmacao falhou - Tente novamente</td>
                    </tr>
                    <tr>
                        <td>17</td>
                        <td>Erro: Pedido ja esta cadastrado na nossa base de integracao</td>
                    </tr>
                    <tr>
                        <td>18</td>
                        <td>Erro: Valor total dos produtos do pedido inconsistente</td>
                    </tr>
                    <tr>
                        <td>19</td>
                        <td>Erro: Valor total do frete inconsistente</td>
                    </tr>
                    <tr>
                        <td>20</td>
                        <td>Erro de Validacao - Entrar em contato com o Administrador da integracao MV</td>
                    </tr>
                    <tr>
                        <td>21</td>
                        <td>Erro: Valor total de pedido não bate com valor dos produtos com desconto</td>
                    </tr>
                    <tr>
                        <td>22</td>
                        <td>Erro: Email enviado no pedido está cadastrado para outro CNPJ/CPF</td>
                    </tr>
                    <tr>
                        <td>23</td>
                        <td>Erro: CPF/CNPJ incorreto</td>
                    </tr>
                    </tbody>
                </table>

            </div>
            <!--SERVICE-->
            <div class="service-title" id="servico-produto-full">
                Serviço Produto Full
            </div>
            <div class="service-comment">
                <p>O serviço de produto full permite ao parceiro consultar os produtos do site. O(s) método(s)
                    fornecido(s)
                    são:
                    <strong><a href="#metodo-get-produto-full">getProdutoFull</a></strong></p>
            </div>
            <!--SERVICE END-->


            <div class="panel subcat end">
                <h5 id="metodo-get-produto-full"><i class="glyphicon glyphicon-asterisk"></i> Método getProdutoFull</h5>
                <p>Retorna os dados de Produtos de acordo com os parâmetros enviados.</p>
                <hr class="separator">
                <h4><i class="glyphicon glyphicon-asterisk"></i> Parâmetros</h4>
                <table class="table table-bordered table-striped table-condensed">
                    <thead>
                    <tr>
                        <th rowspan="2">Parâmetro</th>
                        <th rowspan="2">Descrição</th>
                        <th rowspan="2">Tipo</th>
                        <th rowspan="2">Obrigatório</th>
                        <th colspan="2">Tamanho</th>
                    </tr>
                    <tr>
                        <th>Min</th>
                        <th>Max</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>ParceiroId</td>
                        <td>Identificador do Parceiro</td>
                        <td>INT</td>
                        <td>Sim</td>
                        <td>1</td>
                        <td>11</td>
                    </tr>
                    <tr>
                        <td>ProdutoCodigo</td>
                        <td>Código do Produto a ser pesquisado</td>
                        <td>STRING[]</td>
                        <td>Sim</td>
                        <td>1</td>
                        <td>10</td>
                    </tr>
                    </tbody>
                </table>
                <hr class="separator">
                <h4><i class="glyphicon glyphicon-asterisk"></i> Retorno</h4>
                <p>Será retornado um objeto do tipo <a href="#objeto-dados-out">DadosOut</a> contendo o código e a
                    mensagem
                    da operação. No campos “Dados” será retornado uma string JSON representando a estrutura do(s)
                    produto(s)
                    consultados. O diferencial deste método para o <a href="metodo-get-produto">getProduto</a> é que
                    neste
                    método é possível consultar combos e seus respectivos produtos filhos.</p>

                <pre class="code" lang="json">{% include "documentacao/v1/exemplos/getProdutoFullExemplo1.json" %}</pre>
            </div>

            <div class="panel cat" id="rest">
                <h1>Rest</h1>
                <hr>
                <p>Segundo a <a href="https://pt.wikipedia.org/wiki/REST">Wikipedia</a>, a Representational State
                    Transfer
                    (REST), em português Transferência de Estado Representacional, é uma
                    abstração da arquitetura da World Wide Web (Web), um estilo arquitetural que consiste de um conjunto
                    coordenado de restrições arquiteturais aplicadas a componentes, conectores e elementos de dados
                    dentro
                    de um sistema de hipermídia distribuído. O REST ignora os detalhes da implementação de componente e
                    a
                    sintaxe de protocolo com o objetivo de focar nos papéis dos componentes, nas restrições sobre sua
                    interação com outros componentes e na sua interpretação de elementos de dados significantes.
                </p>
            </div>
            <!--SERVICE-->
            <div class="service-title" id="servico-tracking">
                Serviço Tracking
            </div>
            <div class="service-comment">
                <p>O serviço de tracking permite rastrear os pedidos informados pelo parceiro para saber o atual status
                    dentro do sistema.</p>
            </div>
            <!--SERVICE END-->
            <div class="panel subcat">
                <h3 id="metodo-consulta"><i class="glyphicon glyphicon-asterisk"></i> Consulta</h3>
                <p>Retorna os dados de rastreamento do pedido, utilizando o novo serviço baseado no padrão RESTFul. Este
                    serviço utiliza-se exclusivamente de dados json tanto para entrada quanto para saída de
                    informações.</p>
                <p>Este método só pode ser acessado via HTTP post, caso contrário será retornado um erro 404.</p>

                <p>URL: <a href="{{ httpHost }}/InterfaceTracking/Consulta">
                    {{ httpHost }}/InterfaceTracking/Consulta</a></p>

                <p><strong>Observação:</strong> Quando realizar o request, o header "content-type" deve ser
                    "application/json".</p>
                <br>
                <h4><i class="glyphicon glyphicon-asterisk"></i> Parâmetros</h4>
                <table class="table table-bordered table-striped table-condensed">
                    <thead>
                    <tr>
                        <th rowspan="2">Parâmetro</th>
                        <th rowspan="2">Descrição</th>
                        <th rowspan="2">Tipo</th>
                        <th rowspan="2">Obrigatório</th>
                        <th colspan="2">Tamanho</th>
                    </tr>
                    <tr>
                        <th>Min</th>
                        <th>Max</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>parceiro_id</td>
                        <td>Código do parceiro fornecido pela Máquina de Vendas</td>
                        <td>INT</td>
                        <td>Sim</td>
                        <td colspan="2">11</td>
                    </tr>
                    <tr>
                        <td>site_id</td>
                        <td>Código do website a ser consultado</td>
                        <td>INT</td>
                        <td>Sim</td>
                        <td colspan="2">11</td>
                    </tr>
                    <tr>
                        <td>pedido_id</td>
                        <td>Lista de pedidos a ser consultado pelo cliente</td>
                        <td>INT[]</td>
                        <td>Sim</td>
                        <td>1</td>
                        <td>10</td>
                    </tr>
                    </tbody>
                </table>
                <br>
                <h4><i class="glyphicon glyphicon-asterisk"></i> Exemplo de Input</h4>
                <pre class="code" lang="json">{% include "documentacao/v1/exemplos/trackingconsultainput.json" %}</pre>
            </div>
            <div class="panel subcat">
                <h3><i class="glyphicon glyphicon-asterisk"></i> Retorno</h3>
                <p>O retorno será uma string representando um JSON contendo os seguintes campos</p>
                <table class="table table-bordered table-striped table-condensed">
                    <thead>
                    <tr>
                        <th>Campo</th>
                        <th>Descrição</th>
                        <th>Tipo</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>status</td>
                        <td>Status da operações. Será baseado nos códigos http</td>
                        <td>INT</td>
                    </tr>
                    <tr>
                        <td>msg</td>
                        <td>Caso seja necessário retornar alguma mensagem (um erro por exemplo), será retornado neste
                            campo.
                        </td>
                        <td>STRING</td>
                    </tr>
                    <tr>
                        <td>dados</td>
                        <td>Lista contendo os pedidos requisitados e suas respectivas entregas com os dados de
                            tracking
                        </td>
                        <td><a href="#objeto-pedido-tracking">Pedido</a>[]</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="panel subcat end">
                <h4><i class="glyphicon glyphicon-asterisk"></i> Exemplo de saída</h4>
                <pre class="code" lang="json">{% include "documentacao/v1/exemplos/trackingconsultaoutput.json" %}</pre>
            </div>

            <div class="panel cat" id="objetos">
                <h1>Objetos</h1>
                <hr>
                <p>Esta seção do manual tem como finalidade descrever a estrutura dos objetos utilizados pelo sistema
                    de integração da Máquina de Vendas.</p>
            </div>
            <div class="panel subcat">
                <h4 id="objeto-item"><i class="glyphicon glyphicon-asterisk"></i> Item</h4>
                <table class="table table-bordered table-striped table-condensed">
                    <thead>
                    <tr>
                        <th>Campo</th>
                        <th>Descrição</th>
                        <th>Tipo</th>
                        <th>Tamanho</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Codigo</td>
                        <td>Código identificador do produto</td>
                        <td>CHAR</td>
                        <td>30</td>
                    </tr>
                    <tr>
                        <td>Quantidade</td>
                        <td>Quantidade de itens para o código informado</td>
                        <td>INT</td>
                        <td>11</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="panel subcat">
                <h4 id="objeto-dados-out"><i class="glyphicon glyphicon-asterisk"></i> DadosOut</h4>
                <table class="table table-bordered table-striped table-condensed">
                    <thead>
                    <tr>
                        <th>Campo</th>
                        <th>Descrição</th>
                        <th>Tipo</th>
                        <th>Tamanho</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Codigo</td>
                        <td>Código de retorno</td>
                        <td>TEXT</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td>Dados</td>
                        <td>Dados de retorno. Pode retornar vazio.</td>
                        <td>STRING</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td>Msg</td>
                        <td>String contendo a mensagem de retorno da requisição.</td>
                        <td>STRING</td>
                        <td>-</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="panel subcat">
                <h4 id="objeto-pedido-tracking"><i class="glyphicon glyphicon-asterisk"></i> Pedido</h4>
                <table class="table table-bordered table-striped table-condensed">
                    <thead>
                    <tr>
                        <th>Campo</th>
                        <th>Descrição</th>
                        <th>Tipo</th>
                        <th>Tamanho</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>pedido_parceiro</td>
                        <td>Código de pedido do cliente</td>
                        <td>INT</td>
                        <td>11</td>
                    </tr>
                    <tr>
                        <td>entregas</td>
                        <td>Array contendo as entregas para o respectivo pedido. A chave do array é o prefixo ENT_ mais
                            o
                            código da entrega. Ex.: se o código da entrega é 1234 o índice será ENT_1234.
                        </td>
                        <td><a href="#objeto-entrega-tracking">Entrega</a>[]</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td>Msg</td>
                        <td>String contendo a mensagem de retorno da requisição.</td>
                        <td>STRING</td>
                        <td>-</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="panel subcat">
                <h4 id="objeto-entrega-tracking"><i class="glyphicon glyphicon-asterisk"></i> Entrega</h4>
                <table class="table table-bordered table-striped table-condensed">
                    <thead>
                    <tr>
                        <th>Campo</th>
                        <th>Descrição</th>
                        <th>Tipo</th>
                        <th>Tamanho</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>itens</td>
                        <td>Objeto contendo os itens do pedido. Os índices serão códigos de produto.</td>
                        <td>Object javascript</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td>trackings</td>
                        <td>Objeto contendo os trackings para a entrega. Os índices serão os status de tracking
                            registrados
                            para a entrega. As chaves serão pontos de controle que podem ser consultados na <a
                                    href="#tabela-pontos-controle">tabela Pontos de Controle</a>
                        </td>
                        <td>Object javascript</td>
                        <td>-</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="panel subcat">
                <h3 id="objeto-pedido-produto"><i class="glyphicon glyphicon-asterisk"></i> PedidoProduto</h3>
                <table class="table table-bordered table-striped table-condensed">
                    <thead>
                    <tr>
                        <th>Campo</th>
                        <th>Descrição</th>
                        <th>Tipo</th>
                        <th>Tamanho</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>CodigoProduto</td>
                        <td>Código do produto MV</td>
                        <td>INT</td>
                        <td>30</td>
                    </tr>
                    <tr>
                        <td>ValorUnitario</td>
                        <td>Valor do produto</td>
                        <td>DECIMAL</td>
                        <td>10,2</td>
                    </tr>
                    <tr>
                        <td>ValorTotal</td>
                        <td>Valor unitário multiplicado pela quantidade</td>
                        <td>DECIMAL</td>
                        <td>10,2</td>
                    </tr>
                    <tr>
                        <td>ValorFrete</td>
                        <td>Valor do frete. Frete grátis, informar 0</td>
                        <td>DECIMAL</td>
                        <td>10,2</td>
                    </tr>
                    <tr>
                        <td>Tipo</td>
                        <td>Valor fixo = 1</td>
                        <td>INT</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>PrazoEntregaCombinado</td>
                        <td>
                            Prazo em dias de entrega informado para o cliente no ato da venda.<br/>
                            No caso de haver entrega agendada, o prazo deve seguir a quantidade de dias da entrega
                            agendada.
                        </td>
                        <td>INT</td>
                        <td>11</td>
                    </tr>
                    <tr>
                        <td>quantidade</td>
                        <td>
                            A quantidade do produto em questão.
                        </td>
                        <td>INT</td>
                        <td>11</td>
                    </tr>
                    <tr>
                        <td>Sequencial</td>
                        <td>
                            Campo de controle da sequencia dos produtos do pedido. Iniciar em 1 e incrementar para os
                            demais
                            produtos do pedido.
                        </td>
                        <td>INT</td>
                        <td>10,2</td>
                    </tr>
                    <tr>
                        <td>ValorDesconto</td>
                        <td>
                            Valor total do desconto repassado ao cliente para o pedido. Quando não houver desconto
                            informar
                            0 (zero)
                        </td>
                        <td>DECIMAL</td>
                        <td>9,2</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="panel subcat end">
                <h3 id="objeto-pagamento"><i class="glyphicon glyphicon-asterisk"></i> Pagamento</h3>
                <table class="table table-bordered table-striped table-condensed">
                    <thead>
                    <tr>
                        <th>Campo</th>
                        <th>Descrição</th>
                        <th>Tipo</th>
                        <th>Tamanho</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>MeioPagamentoId</td>
                        <td>Disponível apenas para cartão de Crédito. Informar valor fixo = 1</td>
                        <td>INT</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>BandeiraId</td>
                        <td>
                            1 = MasterCard<br/>
                            2 = Visa<br/>
                            3 = American Express<br/>
                            4 = Dinners Club<br/>
                            6 = HiperCard<br/>
                            13 = ELO
                        </td>
                        <td>INT</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td>Parcelas</td>
                        <td>Quantidade parcelas do pedido. De 1 a 12</td>
                        <td>INT</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td>CartaoNumero</td>
                        <td>Número do cartão de crédito do cliente. Somente números</td>
                        <td>STRING</td>
                        <td>19</td>
                    </tr>
                    <tr>
                        <td>CartaoValidade</td>
                        <td>Data de validade do cartão. Formato: mm/yyyy</td>
                        <td>CHAR</td>
                        <td>7</td>
                    </tr>
                    <tr>
                        <td>CartaoCodSeguranca</td>
                        <td>
                            Código de segurança
                        </td>
                        <td>INT</td>
                        <td>5</td>
                    </tr>
                    <tr>
                        <td>CartaoNomePortador</td>
                        <td>
                            Nome do titular do cartão
                        </td>
                        <td>STRING</td>
                        <td>30</td>
                    </tr>
                    <tr>
                        <td>ValorPago</td>
                        <td>Valor pago no cartão. Deve ser maior que 0 (zero)</td>
                        <td>DECIMAL</td>
                        <td>12,2</td>
                    </tr>
                    <tr>
                        <td>PercentualJuros</td>
                        <td>Percentual de juros aplicado ao pagamento</td>
                        <td>DECIMAL</td>
                        <td>3,2</td>
                    </tr>
                    <tr>
                        <td>ValorJuros</td>
                        <td>Valor em Reais dos juros cobrados no pagamento</td>
                        <td>DECIMAL</td>
                        <td>10,2</td>
                    </tr>
                    <tr>
                        <td>Sequencial</td>
                        <td>Campo de controle da sequencia dos pagamentos do pedido. Iniciar em 1 e incrementar para os
                            demais pagamentos do pedido
                        </td>
                        <td>INT</td>
                        <td>3</td>
                    </tr>
                    </tbody>
                </table>
            </div>


            <div class="panel cat" id="tabelas">
                <h1>Tabelas</h1>
            </div>
            <div class="panel subcat">
                <h3 id="tabela-site-ids">SiteId's</h3>
                <table class="table table-bordered table-striped table-condensed">
                    <thead>
                    <tr>
                        <th>SiteId</th>
                        <th>Nome</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>1</td>
                        <td>Ricardo Eletro</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Insinuante</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>CityLar</td>
                    </tr>
                    <tr>
                        <td>10</td>
                        <td>Clube do Ricardo</td>
                    </tr>
                    <tr>
                        <td>12</td>
                        <td>EletroShopping</td>
                    </tr>
                    <tr>
                        <td>16</td>
                        <td>e-Colchão</td>
                    </tr>
                    <tr>
                        <td>17</td>
                        <td>Cipela</td>
                    </tr>
                    <tr>
                        <td>18</td>
                        <td>Kangoolu</td>
                    </tr>
                    <tr>
                        <td>19</td>
                        <td>Comercial São Jorge</td>
                    </tr>
                    <tr>
                        <td>20</td>
                        <td>Mala Mix</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="panel subcat">
                <h3 id="tabela-interfaces">Interfaces</h3>
                <table class="table table-bordered table-striped table-condensed">
                    <thead>
                    <tr>
                        <th>SiteId</th>
                        <th>Nome</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>1</td>
                        <td>Interface de Estoque</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Interface de Pedido</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Interface de Tracking</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="panel subcat end">

                <h3 id="tabela-pontos-controle">Pontos de Controle</h3>
                <table class="table table-bordered table-striped table-condensed">
                    <thead>
                    <tr>
                        <th>Ponto de Controle</th>
                        <th>Descrição</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>AAE</td>
                        <td>Aviso Aguardando Retirada</td>
                    </tr>
                    <tr>
                        <td>AEF</td>
                        <td>Aguardando estoque disponível no WMS</td>
                    </tr>
                    <tr>
                        <td>AEW</td>
                        <td>Aguardando envio ao WMS</td>
                    </tr>
                    <tr>
                        <td>AGN</td>
                        <td>Agendado</td>
                    </tr>
                    <tr>
                        <td>ARA</td>
                        <td>Aguardando retirada na Agencia dos Correios</td>
                    </tr>
                    <tr>
                        <td>CAA</td>
                        <td>Coleta aguardando agendamento</td>
                    </tr>
                    <tr>
                        <td>CAE</td>
                        <td>Comunicação Automática de e-mail</td>
                    </tr>
                    <tr>
                        <td>CAN</td>
                        <td>Entrega cancelada</td>
                    </tr>
                    <tr>
                        <td>CDP</td>
                        <td>Coleta em desacordo com o pedido</td>
                    </tr>
                    <tr>
                        <td>CED</td>
                        <td>Coleta em rota de devolução</td>
                    </tr>
                    <tr>
                        <td>CEV</td>
                        <td>Convertido em vale</td>
                    </tr>
                    <tr>
                        <td>CNR</td>
                        <td>Coleta não realizada</td>
                    </tr>
                    <tr>
                        <td>COC</td>
                        <td>Coleta cancelada</td>
                    </tr>
                    <tr>
                        <td>COD</td>
                        <td>Coleta devolvida</td>
                    </tr>
                    <tr>
                        <td>COR</td>
                        <td>Coleta solicitada em rota</td>
                    </tr>
                    <tr>
                        <td>COT</td>
                        <td>Coleta realizada por outra transportadora</td>
                    </tr>
                    <tr>
                        <td>CS</td>
                        <td>Coleta solicitada</td>
                    </tr>
                    <tr>
                        <td>CSD</td>
                        <td>Coleta solicitada em duplicidade</td>
                    </tr>
                    <tr>
                        <td>DD</td>
                        <td>Destinatário desconhecido</td>
                    </tr>
                    <tr>
                        <td>EA1</td>
                        <td>Entrega Agendada 1</td>
                    </tr>
                    <tr>
                        <td>EA2</td>
                        <td>Entrega Agendada 2</td>
                    </tr>
                    <tr>
                        <td>EA3</td>
                        <td>Entrega Agendada 3</td>
                    </tr>
                    <tr>
                        <td>EA4</td>
                        <td>Entrega Agendada 4</td>
                    </tr>
                    <tr>
                        <td>EA5</td>
                        <td>Entrega Agendada 5</td>
                    </tr>
                    <tr>
                        <td>EAI</td>
                        <td>Entrada de acesso interditada</td>
                    </tr>
                    <tr>
                        <td>EMD</td>
                        <td>Em processo de devolução para o CD</td>
                    </tr>
                    <tr>
                        <td>ENT</td>
                        <td>Entregue ao cliente</td>
                    </tr>
                    <tr>
                        <td>ETR</td>
                        <td>Entregue a Transportadora</td>
                    </tr>
                    <tr>
                        <td>FD</td>
                        <td>Falta de documento</td>
                    </tr>
                    <tr>
                        <td>FLN</td>
                        <td>Feriado local / nacional</td>
                    </tr>
                    <tr>
                        <td>IVE</td>
                        <td>Item virtual enviado</td>
                    </tr>
                    <tr>
                        <td>LLC</td>
                        <td>Liberacao da Lista</td>
                    </tr>
                    <tr>
                        <td>NFS</td>
                        <td>NFe Saída/Entrega Aprovada</td>
                    </tr>
                    <tr>
                        <td>NFS2V</td>
                        <td>2ª Via de NFe Saída/Entrega Solicita pelo Cliente</td>
                    </tr>
                    <tr>
                        <td>OT1</td>
                        <td>Ocorrencia Transporte 1</td>
                    </tr>
                    <tr>
                        <td>OT2</td>
                        <td>Ocorrencia Transporte 2</td>
                    </tr>
                    <tr>
                        <td>OT3</td>
                        <td>Ocorrencia Transporte 3</td>
                    </tr>
                    <tr>
                        <td>PIC</td>
                        <td>Produto indisponivel para coleta</td>
                    </tr>
                    <tr>
                        <td>REC</td>
                        <td>Rejeitado no crédito</td>
                    </tr>
                    <tr>
                        <td>RPC</td>
                        <td>Recusado pelo cliente</td>
                    </tr>
                    <tr>
                        <td>WMS</td>
                        <td>No WMS</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}