<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Relatório Estoque Parceiro</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>
<body>
<h1>Relatório Estoque</h1>
<table class="table table-stripped table-bordered table-hover table-condensed">
    <thead>
    <tr>
        <th>SKU MV</th>
        <th>SKU PARC.</th>
        <th>QTD. MV</th>
        <th>QTD. PARC.</th>
        <th>QTD. DIFF.</th>
        <th>OBS.</th>
        <th>PROD. ID</th>
        <th>NOME</th>
    </tr>
    </thead>
    <tbody>
    {% for sku,item in resultados %}
    <tr class="{% if item.skuParceiro is null %}warning{% endif %}">
        <td>{{ sku }}</td>
        <td>{{ item.skuParceiro }}</td>
        <td>{{ item.quantidadeMV }}</td>
        <td>{{ item.quantidadeParceiro }}</td>
        <td class="{% if item.quantidadeMV - item.quantidadeParceiro != 0 and not item.quantidadeParceiro is null %}danger{% endif %}">{{ item.quantidadeMV - item.quantidadeParceiro }}</td>
        <td>
            {% if not item.skuParceiro %}Erro consulta API pco
            {% elseif item.quantidadeMV != item.quantidadeParceiro %}Estoque desbalanceado
            {% else %}Nada consta
            {% endif %}
        </td>
        <td>{{ item.produtoId }}</td>
        <td>{{ item.nome }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% if paginacao %}
<div class="text-center">
    <ul class="pagination">
        {% for i in 1..paginacao.totalPaginas %}
        <li><a href="?parceiroId={{parceiroId}}&pagina={{ i }}">{{ i }}</a></li>
        {% endfor %}
    </ul>
</div>
{% endif %}
</body>
</html>