{% extends "template.html" %}
{% block title %}Máquina de vendas | Login{% endblock %}
{% block content %}

<div class="container" id="app" xmlns:v-on="http://www.w3.org/1999/xhtml">

    <form class="form-signin">
        <h2 class="form-signin-heading">Por favor, faça o login</h2>

        <p v-if="errorMessage" class="bg-danger" v-cloak="">{{ '{{' }} errorMessage {{ '}}' }}</p>
        <label for="inputEmail" class="sr-only">Endereço de e-mail</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Endereço de e-mail" required autofocus v-model="email">
        <label for="inputPassword" class="sr-only">Senha</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Senha" required v-model="senha">
        <button type="button" class="btn btn-lg btn-primary btn-block" type="submit" v-on:click="login">Login</button>
    </form>

</div> <!-- /container -->
{% endblock %}

{% block css %}
<link rel='stylesheet' href="/assets/css/login.css" />
{% endblock %}

{% block scripts %}
<script src="/assets/js/lib/vue.js"></script>
<script src="/assets/js/lib/vue-resource.min.js"></script>
<script src="/assets/js/login.js"></script>
{% endblock %}