<!DOCTYPE html>
<html>
<head>
    <title>Página não encontrada - Máquina de Vendas</title>
</head>
<body>
<h1>Não encontrado</h1>
<div class="content">
    A página {{ request_uri }} não pode ser encontrada.
</div>
<!-- {{ messagem }} -->
</body>
</html>