<!-- Sidebar -->
<div id="sidebar-wrapper">
    <img src="/assets/img/mv-logo.png" class="logo"/>
    <ul class="sidebar-nav">
        <li><a href="#introducao" class="active">Introdução</a></li>
        <li>
            <a href="#servicos">Serviços</a>
            <ul>
                <li>
                    <a href="#rest">REST</a>
                    <ul>
                        <li><a href="#servico-consulta-vendedor">Consulta Vendedor</a></li>
                        <li><a href="#servico-consulta-frete">Consulta Frete</a></li>
                        <li><a href="#servico-consulta-estoque">Consulta Estoque</a></li>
                        <li><a href="#servico-consulta-dados">Consulta Dados</a></li>
                        <li><a href="#servico-confirmacao-dados">Confirmação Dados</a></li>
                        <li><a href="#servico-consulta-produto">Consulta Produto</a></li>
                        <li><a href="#servico-set-pedido">Enviar Pedido</a></li>
                        <li><a href="#servico-set-pagamento">Enviar Status Pagamento</a></li>
                        <li><a href="#servico-consulta-pedido">Consulta Pedido</a></li>
                        <li><a href="#servico-consulta-tracking">Consulta Tracking</a></li>
                        <li><a href="#servico-consulta-bandeira">Consulta Bandeira</a></li>
                        <li><a href="#servico-consulta-parcelamento">Consulta Parcelamento</a></li>
                        <li><a href="#servico-consulta-campanha">Consulta Campanha</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#callbacks">Callbacks</a>
                    <ul>
                        <li><a href="#callback-notificacao-estoque-preco">Alteração Estoque/Preço</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><a href="#objetos">Objetos</a></li>
        <li>
            <a href="#tabelas">Tabelas</a>
            <ul>
                <li><a href="#tabela-site-ids"></a></li>
            </ul>
        </li>
    </ul>
</div>
<!-- /#sidebar-wrapper -->