<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}Máquina de Vendas{% endblock %}</title>

    <link rel="shortcut icon" href="/assets/img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/assets/img/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <link rel="stylesheet" href="/assets/css/sidemenu.css"/>
    <link rel="stylesheet" href="/assets/css/main.css"/>

    <link rel="stylesheet" href="/assets/css/lib/jquery.highlight.css">

    {% block css%}{% endblock %}
</head>
<body>
{% block content %}{% endblock %}

<script src="//code.jquery.com/jquery-2.2.0.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="/assets/js/lib/jquery.highlight.js"></script>
<script src="/assets/js/lib/softbox-code.js"></script>
<script>
    $(document).ready(function () {
        $('pre.code').highlight({source: false, zebra: true, indent: 'space', list: 'ul'});
        $(document).on("scroll", onScroll);
        $("a[href^='#']").on('click', function (e) {
            e.preventDefault();
            $(document).off("scroll");

            $('a').each(function () {
                $(this).removeClass('active');
            });
            $(this).addClass('active');

            var target = this.hash, menu = target;
            $target = $(target);
            $('html, body').stop().animate({
                'scrollTop': $target.offset().top-10
            }, 500, 'swing', function () {
                window.location.hash = target;
                $(document).on("scroll", onScroll);
            });
        });


        function onScroll(event){
            var scrollPos = $(document).scrollTop();
            $('#sidebar-wrapper').find('li > a').each(function () {
                var currLink = $(this);
                var refElement = $(currLink.attr("href"));
                if (refElement.position().top <= scrollPos - 10 ) {
                    $('#sidebar-wrapper').find('a').removeClass("active");
                    currLink.addClass("active");
                }
                else{
                    currLink.removeClass("active");
                }
            });
        }
    });
</script>
<script src="/assets/js/lib/jwt-decode.min.js"></script>
{% block scripts %}
{% endblock %}
</body>
</html>